{% extends 'layout.html' %}

{% block body %}
	<div id="about-page" class="container">
		<div class="jumbotron">
			<h1>About</h1>
		</div>
		
		<h3>This platform represents an important step in creating an agile and digitally-connected organization.</h3>
		<p>This application is the result of a collaborative effort between all three branches at the School.</p>
		<p>Acknowledgments:</p>
		
		<ul>
			<li>Curriculum Management</li>
			<li>Digital Academy</li>
			<li>Learning Evaluation Unit</li>
			<li>Application Management</li>
			<li>Learning Solutions</li>
		</ul>
	</div>
{% endblock body %}
