{% extends 'layout.html' %}

{% block body %}
	<div id="about-page" class="container">
		<h3>{{ _('This app is the result of a collaborative effort between all three branches of the School.') }}</h3>
		<p>{{ _('Acknowledgments:') }}</p>
		<ul>
			<li>{{ _('Curriculum Management') }}</li>
			<li>{{ _('Digital Academy') }}</li>
			<li>{{ _('Learning Evaluation Unit') }}</li>
			<li>{{ _('Application Management') }}</li>
			<li>{{ _('Learning Solutions') }}</li>
		</ul>
		<p>
			{{ _('If you encounter any bugs or would like features added, please contact <a href="mailto:sam.louden@canada.ca">Sam Louden</a>.') }}
		</p>
		<h4 style="color: #066169;">
			{{ _('Weekly data update performed: <span id="last-updated">February 14, 2019</span>') }}
		</h4>
	</div>
{% endblock body %}
