{% extends 'layout.html' %}

{% block body %}
	<div id="api-page" class="container">
		<div class="jumbotron">
			<h1>{{_("CSPS Course Catalogue API")}}</h1>
		</div>
		
		<h2>Introduction</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		<p>All API end points are format as such: /api/v1/{API_CALL}/?QS_Parameter=value where v1 is the API version number.</p>
		
		<P>
<h2>get-courses</h2>
<p>Search for courses.</p>
<h3>Query string parameters</h3>
				<table>
				<tbody><tr>
						<th scope="col">Parameter</th>
						<th scope="col">Meaning</th>
						<th scope="col">Required?</th>
						<th scope="col">Notes</th>
					</tr>

					<tr>
						<td>&amp;lang=<code>en/fr</code></td>
						<td>Results language</td>
						<td><strong>No</strong></td>
						<td>Determines whether the response course titles are in English or French. Defaults to returning both.</td>
					</tr>
					<tr>
						<td>&amp;title-text=<code>text</code></td>
						<td>Selects specific title words to search for</td>
						<td><strong>No</strong></td>
						<td>Limits the response to coures with <code>text</code> contained within titles.</td>
					</tr>
					<tr>
						<td>&amp;descriptions=<code>false/true</code></td>
						<td>If true, returns course descriptions along with course results</td>
						<td><strong>No</strong></td>
						<td>Defaults to false</td>
					</tr>
					<tr>
							<td>&amp;course-code=<code>text</code></td>
							<td>If provided, returns information for a sepcific course with <code>course-code</code> value</td>
							<td><strong>No</strong></td>
							<td>Example format is typically: A303</td>
						</tr>
				
				</tbody></table>
			

<p><h3>Response Format</h3></p>
<p>
	<table>
		<tbody><tr>
				<th scope="col">Key</th>
				<th scope="col">Value</th>
			</tr>
			<tr>
				<td>-</td>
				<td>-</td>
			</tr>
			</tbody>
			</table>
</p>

<p>
	<h3>Sample Response</h3>
	<pre><code>
		[  
			[  
			   "A313",
			   "Fundamentals of Writing for the Web (A313)",
			   "As more and more Canadians turn to the Internet for information and services, creating an effective web presence is vital for all government organizations. This course introduces new web writers to best practices for planning, writing and managing their web content. Participants will learn techniques for creating clear, readable content that best serves their audience's needs."
			],
			[  
			   "T716",
			   "Web Accessibility for Canada.ca (T716)",
			   "The Government of Canada is committed to ensuring the accessibility of its websites. This course outlines federal standards and guidelines on web accessibility and emphasizes the requirements, roles and responsibilities involved in compliance with this standard. Participants will learn how to assess and apply Web Content Accessibility Guidelines (WCAG) 2.0 consistently across Canada.ca web pages.\r\n\r\nTopics include\r\nAccessibility and testing tools\r\nCreating well-structured pages\r\nDesigning accessible forms\r\nDesigning audiovisual content for web pages"
			]
		 ]
		</code></pre>
</p>

<p>
<h3>Examples</h3>
</p>
<p>
Return all courses: <a href=/api/v1/get-courses/>/api/v1/get-courses</a> <br />
Return course information, with "web" in title, french result, with descriptions.: <a href=/api/v1/get-courses/?lang=fr&title-text=web&descriptions=true>/api/v1/get-courses/?lang=fr&title-text=web&descriptions=true</a>
</p>
	

	</P>
</div>
{% endblock body %}
