{% extends 'layout.html' %}

{% block head %}
	<!-- jQuery Chosen for autocomplete dropdown -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
	<link rel="stylesheet" href= "{{ url_for('static', filename='bootstrap-for-chosen.css') }}" />
{% endblock head %}

{% block body %}
	{% from "includes/_formhelpers.html" import render_field %}
	
	<!-- Loader -->
	<div class="container" id="loader">
		<div class="loading">
			<div class="obj"></div>
			<div class="obj"></div>
			<div class="obj"></div>
			<div class="obj"></div>
			<div class="obj"></div>
			<div class="obj"></div>
			<div class="obj"></div>
			<div class="obj"></div>
		</div>
	</div>
	
	<div class="container" id="selection-form">
		<h1>{{ title }}</h1>
		<form method="POST" action="">
			{% for field in form %}
				<div class="form-group">
					{{ render_field(field, class="form-control chosen") }}
				</div>
			{% endfor %}
			<p><input type="submit" value="{{ button_val }}" class="btn btn-primary" id="my-button" /></p>
		</form>
	</div>
	
	<script async>
		<!-- Upon clicking 'Go', hide form and display loader -->
		$("#my-button").on("click", function() {
			$("#selection-form").hide();
			$("#loader").show();
		});
		
		<!-- Enable autocomplete functionality in dropdown -->
		$('.chosen').chosen({
			no_results_text: "{{ _('No results match') }}",
			<!-- Set to true to enable partial matches e.g. 'hon' in 'Python'
			search_contains: true
		});
	</script>
{% endblock body %}
