{% extends 'layout.html' %}

{% block head %}
	<!-- jQuery Chosen for autocomplete dropdown -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
	<link rel="stylesheet" href= "{{ url_for('static', filename='bootstrap-for-chosen.css') }}" />
{% endblock head %}

{% block body %}
	{% from "includes/_formhelpers.html" import render_field %}
	
	<div id="selection-and-loader" class="container">
		<!-- Selection form -->
		<div id="selection-form">
			<h3>{{ _('Choose any course to see all of its data.') }}</h3>
			<form method="POST" action="">
				{% for field in form %}
					<div class="form-group">
						{{ render_field(field, class="form-control chosen") }}
					</div>
				{% endfor %}
				<p id="button-para">
					<input type="submit" value="{{ _('Go') }}" class="btn btn-primary" id="go-button" />
					<input type="submit" value="{{ _('Make My Day') }}" class="btn btn-primary" id="random-button" />
				</p>
			</form>
		</div>
		<!-- Loader -->
		<div id="outer-loader">
			<div id="loader">
				<div class="obj"></div>
				<div class="obj"></div>
				<div class="obj"></div>
				<div class="obj"></div>
				<div class="obj"></div>
				<div class="obj"></div>
				<div class="obj"></div>
				<div class="obj"></div>
			</div>
		</div>
	</div>
	
	<script async>
		// Upon clicking 'Go', hide form and display loader
		$('#go-button').on('click', function() {
			$('#selection-form').hide();
			$('#outer-loader').show();
		});
		
		// Upon clicking 'Make My Day', select a random course in dropdown
		$('#random-button').on('click', function() {
			$('#selection-form').hide();
			$('#outer-loader').show();
			number_courses = $('#course_selection option').length;
			random_selection = Math.floor(Math.random() * (number_courses - 1));
			$('#course_selection option:eq(' + random_selection + ')').attr('selected', 'selected');
		});
		
		// Enable autocomplete functionality in dropdown
		$('.chosen').chosen({
			no_results_text: "{{ _('No results') }}",
			// Set to true to enable partial matches e.g. 'hon' in 'Python'
			search_contains: true
		});
	</script>
{% endblock body %}
