<!DOCTYPE html>
<html>
	<head>
		{% include 'includes/_head.html' %}
		
		{% block head %}
			<!-- Extended by other templates needing scripts -->
		{% endblock head %}
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-xs-8 col-sm-9 col-md-6 pull-left">
						<a href="https://www.csps-efpc.gc.ca">
							{% set lang = session.get('lang', 'en') %}
							{% if lang == 'en' %}
								<img class="goc-fip img-responsive" src="{{ url_for('static', filename='FIPs/csps_en.png') }}" alt="CSPS Logo" />
							{% else %}
								<img class="goc-fip img-responsive" src="{{ url_for('static', filename='FIPs/csps_fr.png') }}" alt="CSPS Logo" />
							{% endif %}
						</a>
					</div>
				</div>
			</div>
			
			{% include 'includes/_navbar.html' %}
		</header>
		
		{% block body %}
			<!-- Extended by other templates -->
		{% endblock %}
		
		<footer class="footer">
			<div class="container goc-footer">
				<div class="row">
					<div class="col-xs-6 col-md-10 pull-left">
						<a href="#top">{{ _('Top of page') }}</a>
					</div>
					<div class="col-xs-6 col-md-2 pull-right" style="text-align: right;">
						<img class="img-responsive goc-fip" src="{{ url_for('static', filename='FIPs/canada.png') }}" alt="GOC Logo" />
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
