<h1>{{ pass_dict.course_title }}</h1>

<!-- Subtabs -->
<ul class="nav nav-tabs nav-justified sub-tabs">
	<li class="active"><a href="#general_comments">{{ _('Overall') }}</a></li>
	<!-- Show Technical comments for Online courses; Instructor comments for Instructor-Led -->
	{% if pass_dict.course_info.get('Business Type', 'Online') == _('Online') %}
		<li><a href="#technical_comments">{{ _('Technical') }}</a></li>
	{% else %}
		<li><a href="#instructor_comments">{{ _('Instructor') }}</a></li>
	{% endif %}
	<li><a href="#language_comments">{{ _('Language') }}</a></li>
	<!-- Add tooltip explaining Performance comments -->
	<li>
		<a href="#performance_comments">
			{{ _('Performance') }}
			<img id="performance-tooltip" class="inline-tooltip" src="{{ url_for('static', filename='tooltip.png') }}" alt="{{ _('Tooltip') }}" />
		</a>
	</li>
	<li><a href="#other">{{ _('Categorical') }}</a></li>
</ul>

<!-- Subtabs' contents -->
<!-- List of comments to render -->
{% if pass_dict.course_info.get('Business Type', 'Online') == _('Online') %}
	{% set comment_names = ['general_comments', 'technical_comments', 'language_comments', 'performance_comments'] %}
{% else %}
	{% set comment_names = ['general_comments', 'language_comments', 'performance_comments'] %}
{% endif %}

{% for comment_name in comment_names %}
	<section id="{{ comment_name }}" class="tab-content all-comment-tabs {{ 'active' if loop.index == 1 else 'hide' }}">
		<!-- Only render the rest of the section if feedback exists -->
		{% if pass_dict[comment_name] %}
			
			<!-- CSS barchart showing percentages for 5 stars, 4 stars, etc. -->
			<table class="stars-bar-chart">
				<thead>
					<tr>
						<td colspan="2">
							<h3 class="stars-bar-title">
								<!-- Title added dynamically by jQuery in script tag below -->
								<span></span>
								<img class="computed-score-tooltip" class="inline-tooltip" src="{{ url_for('static', filename='tooltip.png') }}" alt="{{ _('Tooltip') }}" />
							</h3>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="col-xs-2 text-center">{{ _('Five') }}</td>
						<td class="col-xs-10">
							<a class="bar-stars-five" href="" data-target="5">
								<!-- Width and text added dynamically by jQuery in script tag below -->
								<span class="bar-fill" style="width: 0%;"></span>
								<span class="bar-label"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td class="col-xs-2 text-center">{{ _('Four') }}</td>
						<td class="col-xs-10">
							<a class="bar-stars-four" href="" data-target="4">
								<span class="bar-fill" style="width: 0%;"></span>
								<span class="bar-label"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td class="col-xs-2 text-center">{{ _('Three') }}</td>
						<td class="col-xs-10">
							<a class="bar-stars-three" href="" data-target="3">
								<span class="bar-fill" style="width: 0%;"></span>
								<span class="bar-label"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td class="col-xs-2 text-center">{{ _('Two') }}</td>
						<td class="col-xs-10">
							<a class="bar-stars-two" href="" data-target="2">
								<span class="bar-fill" style="width: 0%;"></span>
								<span class="bar-label"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td class="col-xs-2 text-center">{{ _('One') }}</td>
						<td class="col-xs-10">
							<a class="bar-stars-one" href="" data-target="1">
								<span class="bar-fill" style="width: 0%;"></span>
								<span class="bar-label"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			
			<!-- Dropdown to filter by star -->
			<div class="star-filter">
				<p>{{ _('Stars: ') }}</p>
				<select onchange="filterComments()">
					<!-- Dropdown values filled dynamically by jQuery below -->
					<option value="bob-comment">{{ _('All') }}</option>
					<option value="star-5">{{ _('Five') }}</option>
					<option value="star-4">{{ _('Four') }}</option>
					<option value="star-3">{{ _('Three') }}</option>
					<option value="star-2">{{ _('Two') }}</option>
					<option value="star-1">{{ _('One') }}</option>
				</select>
			</div>
			
			<!-- Dropdown to filter by fiscal year -->
			<div class="year-filter">
				<p>{{ _('Fiscal Year: ') }}</p>
				<select onchange="filterComments()">
					<!-- Dropdown values filled dynamically by jQuery below -->
					<option value="bob-comment">{{ _('All') }}</option>
					<option value="FY2015-16">2015-16</option>
					<option value="FY2016-17">2016-17</option>
					<option value="FY2017-18">2017-18</option>
					<option value="FY2018-19">2018-19</option>
				</select>
			</div>
			
			{% for tup in pass_dict[comment_name] %}
				<div class="col-xs-12 bob-comment star-{{ tup[1] }} FY{{ tup[4] }}">
					<div class="media">
						<!-- User avatar -->
						<a class="thumbnail pull-left hidden-xs">
							<img src="{{ url_for('static', filename='avatar.png') }}" alt="{{ _('Avatar') }}" />
						</a>
						<div class="media-body">
							<!-- User classification and offering city -->
							<h4>{{ tup[2] }}, <em>{{ tup[3] }}</em></h4>
							<!-- Display user overall satisfaction with stars -->
							<h5>
								{{ _('Sentiment Score: ') }}
								{% if tup[1] == 5 %}
									{% for _ in range(5) %}<span class="glyphicon glyphicon-star"></span>{% endfor %}{% for _ in range(0) %}<span class="glyphicon glyphicon-star-empty"></span>{% endfor %}
								{% elif tup[1] == 4 %}
									{% for _ in range(4) %}<span class="glyphicon glyphicon-star"></span>{% endfor %}{% for _ in range(1) %}<span class="glyphicon glyphicon-star-empty"></span>{% endfor %}
								{% elif tup[1] == 3 %}
									{% for _ in range(3) %}<span class="glyphicon glyphicon-star"></span>{% endfor %}{% for _ in range(2) %}<span class="glyphicon glyphicon-star-empty"></span>{% endfor %}
								{% elif tup[1] == 2 %}
									{% for _ in range(2) %}<span class="glyphicon glyphicon-star"></span>{% endfor %}{% for _ in range(3) %}<span class="glyphicon glyphicon-star-empty"></span>{% endfor %}
								{% elif tup[1] == 1 %}
									{% for _ in range(1) %}<span class="glyphicon glyphicon-star"></span>{% endfor %}{% for _ in range(4) %}<span class="glyphicon glyphicon-star-empty"></span>{% endfor %}
								{% endif %}
								<span class="comment-date">{{ tup[5] }} {{ tup[4] }}</span>
							</h5>
							<!-- User comment -->
							<p>{{ tup[0] }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h4>{{ _('Apologies, this course has yet to receive any feedback of this type.') }}</h4>
		{% endif %}
	</section>
{% endfor %}


<!-- For now, instructor_comments are disabled for privacy -->
<section id="instructor_comments" class="tab-content all-comment-tabs hide">
	<h4>{{ _('Comments on instructor performance are currently disabled due to privacy restrictions.') }}</h4>
</section>

<!-- Categorical Questions -->
<section id="other" class="tab-content all-comment-tabs hide">
	<!-- Display categorical comments if any, else error message -->
	{% if any ([pass_dict.reason_to_participate, pass_dict.technical_issues,
				pass_dict.languages_available, pass_dict.tools_used, pass_dict.prepared_by]) %}
		<!-- Highcharts: Pie charts for categorical and yes/no questions -->
		<div class="row">
			<div id="reason-to-participate" class="col-xs-12"></div>
		</div>
		<div class="row">
			<div id="technical-issues" class="col-xs-12 col-md-6"></div>
			<div id="languages-available" class="col-xs-12 col-md-6"></div>
		</div>
		<div class="row">
			<div id="tools-used" class="col-xs-12 col-md-6"></div>
			<div id="prepared-by" class="col-xs-12 col-md-6"></div>
		</div>
	{% else %}
		<h4>{{ _('Apologies, this course has yet to receive any feedback of this type.') }}</h4>
	{% endif %}
</section>

<script async>
	// Add tooltip contents
	$('#performance-tooltip').tooltip({
		placement: 'bottom',
		title: "{{ _('<h5>Tip:</h5><p>Learners explain why they feel the training won\'t improve their job performance.</p>') }}",
		animation: true,
		html: true
	});
	$('.computed-score-tooltip').tooltip({
		placement: 'bottom',
		title: "{{ _('<h5>Tip:</h5><p>Comments are assigned a sentiment score between 1 (most negative) and 5 (most positive) using machine learning.</p>') }}",
		animation: true,
		html: true
	});
	
	// Dynamically update CSS bar charts to show star percentages
	function updateBarChart(tabName) {
		// Get fiscal year dropdown selection
		var currentCommentTabId= $('.sub-tabs li.active a:first').attr('href');
		var dropdowns = $(currentCommentTabId + ' select');
		if (dropdowns.length > 1) {
			var fiscalYearDropdown = '.' + dropdowns[1].value;
		} else {
			var fiscalYearDropdown = '';
		}
		
		// Get counts
		var fiveStar = $(tabName + ' .star-5' + fiscalYearDropdown).length;
		var fourStar = $(tabName + ' .star-4' + fiscalYearDropdown).length;
		var threeStar = $(tabName + ' .star-3' + fiscalYearDropdown).length;
		var twoStar = $(tabName + ' .star-2' + fiscalYearDropdown).length;
		var oneStar = $(tabName + ' .star-1' + fiscalYearDropdown).length;
		// Get largest length and use to scale counts to bar widths
		var upperBound = Math.max(fiveStar, fourStar, threeStar, twoStar, oneStar) * 1.4;
		// Account for 0 comments
		upperBound = (upperBound) ? upperBound : 1
		var fiveStarScaled = Math.round((fiveStar / upperBound) * 100);
		var fourStarScaled = Math.round((fourStar / upperBound) * 100);
		var threeStarScaled = Math.round((threeStar / upperBound) * 100);
		var twoStarScaled = Math.round((twoStar / upperBound) * 100);
		var oneStarScaled = Math.round((oneStar / upperBound) * 100);
		
		// Use scaled counts to set width of span, thus creating bar chart
		// Transition between states to look sexy
		$(tabName + ' .stars-bar-chart .bar-stars-five span').css({
			'width': String(fiveStarScaled) + '%',
			'transition': 'width 450ms ease-in-out'
		});
		$(tabName + ' .stars-bar-chart .bar-stars-four span').css({
			'width': String(fourStarScaled) + '%',
			'transition': 'width 450ms ease-in-out'
		});
		$(tabName + ' .stars-bar-chart .bar-stars-three span').css({
			'width': String(threeStarScaled) + '%',
			'transition': 'width 450ms ease-in-out'
		});
		$(tabName + ' .stars-bar-chart .bar-stars-two span').css({
			'width': String(twoStarScaled) + '%',
			'transition': 'width 450ms ease-in-out'
		});
		$(tabName + ' .stars-bar-chart .bar-stars-one span').css({
			'width': String(oneStarScaled) + '%',
			'transition': 'width 450ms ease-in-out'
		});
		
		// Add labels showing percentages
		var totalComments = fiveStar + fourStar + threeStar + twoStar + oneStar;
		// Account for 0 comments
		totalComments = (totalComments) ? totalComments : 1;
		// Multiply then divide by ten as JS built-in Math.round doesn't support rounding to 1 decimal
		var percentFive = Math.round((fiveStar / totalComments) * 100 * 10) / 10;
		var percentFour = Math.round((fourStar / totalComments) * 100 * 10) / 10;
		var percentThree = Math.round((threeStar / totalComments) * 100 * 10) / 10;
		var percentTwo = Math.round((twoStar / totalComments) * 100 * 10) / 10;
		var percentOne = Math.round((oneStar / totalComments) * 100 * 10) / 10;
		$(tabName + ' .stars-bar-chart .bar-stars-five span.bar-label').text(String(percentFive) + '%');
		$(tabName + ' .stars-bar-chart .bar-stars-four span.bar-label').text(String(percentFour) + '%');
		$(tabName + ' .stars-bar-chart .bar-stars-three span.bar-label').text(String(percentThree) + '%');
		$(tabName + ' .stars-bar-chart .bar-stars-two span.bar-label').text(String(percentTwo) + '%');
		$(tabName + ' .stars-bar-chart .bar-stars-one span.bar-label').text(String(percentOne) + '%');
		
		// Update h3 showing total number of comments
		// Add leading space to distinguish from uppercase 'Commentaires'
		var titleNoun = (totalComments == 1) ? "{{ _(' Comment ') }}" : "{{ _(' Comments') }}";
		var titlePrep = "{{ _('in') }}";
		var fiscalYearSelected = $(dropdowns[1]).find('option:selected').text();
		if (fiscalYearSelected == "{{ _('All') }}") {
			$(tabName + ' .stars-bar-chart thead h3 span').text(totalComments + titleNoun + ' ' + "{{ _('in Total') }}");
		} else {
			$(tabName + ' .stars-bar-chart thead h3 span').text(totalComments + titleNoun + ' ' + titlePrep + ' ' + fiscalYearSelected);
		}
	}
	
	// Create listener enabling CSS bar chart to trigger star filters
	function addListenerBarChart(tabName) {
		$(tabName + ' .stars-bar-chart a').on('click', function(e) {
			e.stopImmediatePropagation();
			e.preventDefault();
			var clicked = $(this).attr('data-target');
			$(tabName + ' .star-filter select').val('star-' + clicked).change();
			return false;
		});
	}
	
	// Create bar charts across all comment subtabs
	{% for comment_name in comment_names %}
		{% if pass_dict[comment_name] %}
			updateBarChart('#{{ comment_name }}');
			addListenerBarChart('#{{ comment_name }}');
		{% endif %}
	{% endfor %}
	
	// Enable star and fiscal year dropdowns to show / hide
	function filterComments() {
		// Get current tab
		var currentCommentTabId= $('.sub-tabs li.active a:first').attr('href');
		
		// Hide all comments
		$(currentCommentTabId + ' .bob-comment').hide();
		
		// Show comments according to selection in dropdown(s)
		var dropdowns = $(currentCommentTabId + ' select');
		if (dropdowns.length == 1) {
			var starDropdown = dropdowns[0].value;
			$(currentCommentTabId + ' .bob-comment' + '.' + starDropdown).show();
		} else {
			var starDropdown = dropdowns[0].value;
			var fiscalYearDropdown = dropdowns[1].value;
			$(currentCommentTabId + ' .bob-comment' + '.' + starDropdown + '.' + fiscalYearDropdown).show();
			
			// Update bar chart to match fiscal year selected
			updateBarChart(currentCommentTabId);
		}
	}
	
	function createPieChart(id, title, data) {
		$('#' + String(id)).highcharts({
			chart: {type: 'pie'},
			title: {text: title, style: {fontWeight: 'bold'}},
			tooltip: {
				formatter: function() {
					var sliceName = this.key;
					if (sliceName == 'No response') {
						return "{{ _('<strong>Number of Responses:</strong> 0') }}";
					} else {
						return "{{ _('<strong>Number of Responses:</strong> ') }}" + this.y;
					}
				}
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						format: '<b>{point.name}</b>: {point.percentage:.0f}%',
						style: {color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'}
					}
				}
			},
			credits: {text: ''},
			series: [{
				name: '',
				colorByPoint: true,
				data: data
			}]
		});
	}
	
	// Only attempt to create pie charts if data exists
	{% if any ([pass_dict.reason_to_participate, pass_dict.technical_issues,
				pass_dict.languages_available, pass_dict.tools_used, pass_dict.prepared_by]) %}
		createPieChart('reason-to-participate', "{{ _('Reason to Participate') }}", {{ pass_dict.reason_to_participate | safe }});
		createPieChart('technical-issues', "{{ _('Did You Experience Technical Issues?') }}", {{ pass_dict.technical_issues | safe }});
		createPieChart('languages-available', "{{ _('The Course Was Available in the Official Language of My Choice') }}", {{ pass_dict.languages_available | safe }});
		createPieChart('tools-used', "{{ _('Did the Course Make Use of GCcampus Tools?') }}", {{ pass_dict.tools_used | safe }});
		createPieChart('prepared-by', "{{ _('Method of Preparing for the Course') }}", {{ pass_dict.prepared_by | safe }});
	{% endif %}
</script>
