<h1>{{ pass_dict.course_title }}</h1>

<!-- Subtabs -->
<ul class="nav nav-tabs nav-justified sub-tabs">
	<li class="active"><a href="#general-comments">{{ _('General') }}</a></li>
	<li><a href="#instructor-comments">{{ _('Instructor') }}</a></li>
	<li><a href="#other">{{ _('Other') }}</a></li>
</ul>
<br/>

<!-- Subtabs' contents -->
<!-- General Comments -->
<section id="general-comments" class="tab-content active">
	{% for tup in pass_dict.general_comments %}
		<div class="row">
			<div class="col-xs-12">
				<div class="media">
					<!-- User avatar -->
					<a class="thumbnail pull-left" style="padding: 0; margin-right: 10px;">
						<img src="{{ url_for('static', filename='stars/avatar2.png') }}" alt="Avatar" />
					</a>
					<div class="media-body">
						<!-- User classification and offering city -->
						<h4>{{ tup[2] }}, <em>{{ tup[3] }}</em></h4>
						<!-- Display user overall satisfaction with stars -->
						<h5>
							Overall Satisfaction: 
							{% if tup[1] == 5 %}
								<img src="{{ url_for('static', filename='stars/five.png') }}" alt="Five stars" />
							{% elif tup[1] == 4 %}
								<img src="{{ url_for('static', filename='stars/four.png') }}" alt="Four stars" />
							{% elif tup[1] == 3 %}
								<img src="{{ url_for('static', filename='stars/three.png') }}" alt="Three stars" />
							{% elif tup[1] == 2 %}
								<img src="{{ url_for('static', filename='stars/two.png') }}" alt="Two stars" />
							{% elif tup[1] == 1 %}
								<img src="{{ url_for('static', filename='stars/one.png') }}" alt="One star" />
							{% endif %}
						</h5>
						<!-- User comment -->
						<p>{{ tup[0] }}</p>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
	{% endfor %}
</section>

<!-- Instructor Comments -->
<section id="instructor-comments" class="tab-content hide">
	{% for tup in pass_dict.instructor_comments %}
		<div class="row">
			<div class="col-xs-12">
				<div class="media">
					<!-- User avatar -->
					<a class="thumbnail pull-left" style="padding: 0; margin-right: 10px;">
						<img src="{{ url_for('static', filename='stars/avatar2.png') }}" alt="Avatar" />
					</a>
					<div class="media-body">
						<!-- User classification and offering city -->
						<h4>{{ tup[2] }}, <em>{{ tup[3] }}</em></h4>
						<!-- Display user overall satisfaction with stars -->
						<h5>
							Overall Satisfaction: 
							{% if tup[1] == 5 %}
								<img src="{{ url_for('static', filename='stars/five.png') }}" alt="Five stars" />
							{% elif tup[1] == 4 %}
								<img src="{{ url_for('static', filename='stars/four.png') }}" alt="Four stars" />
							{% elif tup[1] == 3 %}
								<img src="{{ url_for('static', filename='stars/three.png') }}" alt="Three stars" />
							{% elif tup[1] == 2 %}
								<img src="{{ url_for('static', filename='stars/two.png') }}" alt="Two stars" />
							{% elif tup[1] == 1 %}
								<img src="{{ url_for('static', filename='stars/one.png') }}" alt="One star" />
							{% endif %}
						</h5>
						<!-- User comment -->
						<p>{{ tup[0] }}</p>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
	{% endfor %}
</section>

<!-- Other -->
<section id="other" class="tab-content hide">
	<!-- Highcharts: Pie chart showing 'reason to participate' -->
	<div id="reason-to-participate" class="col-xs-12"></div>
	<div id="technical-issues" class="col-xs-12"></div>
</section>

<script>
	function reasonToParticipate (id) {
		$('#' + String(id)).highcharts({
			chart: {type: 'pie'},
			title: {text: 'Reason to Participate'},
			tooltip: {enabled: false},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						format: '<b>{point.name}</b>: {point.percentage:.0f}%',
						style: {color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'}
					}
				}
			},
			credits: {text: ''},
			series: [{
				name: '',
				colorByPoint: true,
				data: {{ pass_dict.reason_to_participate | safe }}
			}]
		});
	};
	function technicalIssues (id) {
		$('#' + String(id)).highcharts({
			chart: {type: 'pie'},
			title: {text: 'Did You Experience Technical Issues?'},
			tooltip: {enabled: false},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						format: '<b>{point.name}</b>: {point.percentage:.0f}%',
						style: {color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'}
					}
				}
			},
			credits: {text: "{{ _('Prepared by Curriculum Management and IPSB') }}"},
			series: [{
				name: '',
				colorByPoint: true,
				data: {{ pass_dict.technical_issues | safe }}
			}]
		});
	};
	
	reasonToParticipate('reason-to-participate');
	technicalIssues('technical-issues');
</script>
