<!-- Registrations per Month -->
<div class="row dashboard-chart">
	<h4 class= "dashboard-chart-title">
		{{ _('Registrations per Month') }}
		<img id="regs-per-month-tooltip" class="inline-tooltip" src="{{ url_for('static', filename='tooltip.png') }}" alt="{{ _('Tooltip') }}" />
	</h4>
	<div id="regs-per-month" class="col-xs-12"></div>
</div>

<div class="row dashboard-chart">
	<!-- Top 5 Departments -->
	<div class="col-xs-12 col-md-6">
		<table class="table table-hover">
			<thead>
				<tr>
					<td class="text-center" colspan="2"><h4><strong>{{ _('Top 5 Departments') }}</strong></h4></td>
				</tr>
				<tr>
					<td><strong>{{ _('Name') }}</strong></td>
					<td class="text-right"><strong>{{ _('Registrations') }}</strong></td>
				</tr>
			</thead>
			<tbody>
				{% for tuple in pass_dict.top_5_depts %}
					<tr>
						<td>{{ tuple[0] }}</td>
						<td class="text-right">{{ tuple[1] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<!-- Top 5 Classifications -->
	<div class="col-xs-12 col-md-6">
		<table class="table table-hover">
			<thead>
				<tr>
					<td class="text-center" colspan="2"><h4><strong>{{ _('Top 5 Classifications') }}</strong></h4></td>
				</tr>
				<tr>
					<td><strong>{{ _('Name') }}</strong></td>
					<td class="text-right"><strong>{{ _('Registrations') }}</strong></td>
				</tr>
			</thead>
			<tbody>
				{% for tuple in pass_dict.top_5_classifs %}
					<tr>
						<td>{{ tuple[0] }}</td>
						<td class="text-right">{{ tuple[1] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script async>
	// Add tooltips
	$('#regs-per-month-tooltip').tooltip({
		placement: 'bottom',
		title: "{{ _('<h5>Tip:</h5><p>Learners whose registration status is \'Confirmed\'.</p>') }}",
		animation: true,
		html: true
	});
	
	// Registrations per month
	$('#regs-per-month').highcharts({
		chart: {type: 'column'},
		title: {text: ''},
		xAxis: {type: 'category'},
		yAxis: {title: {text: ''}, allowDecimals: false, min: 0},
		legend: {enabled: false},
		credits: {text: ''},
		series: [{
			name: "{{ _('Learners') }}",
			colorByPoint: false,
			data: {{ pass_dict.regs_per_month | safe }}
		}]
	});
</script>
