<!-- Registrations per Month -->
<div class="row dashboard-chart">
	<h4 class= "dashboard-chart-title">
		Attendance per Month
		<img id="regs-per-month-tooltip" class="inline-tooltip" src="{{ url_for('static', filename='stars/tooltip.png') }}" alt="Tooltip" />
	</h4>
	<div id="regs-per-month" class="col-xs-12"></div>
</div>

<div class="row dashboard-chart">
	<!-- Top 5 Departments -->
	<div class="col-xs-12 col-md-6">
		<table class="table table-hover">
			<thead>
				<tr>
					<td class="text-center" colspan="2"><h4><strong>{{ _('Top 5 Departments') }}</strong></h4></td>
				</tr>
				<tr>
					<td><strong>{{ _('Name') }}</strong></td>
					<td class="text-right"><strong>{{ _('Registrations') }}</strong></td>
				</tr>
			</thead>
			<tbody>
				{% for tuple in pass_dict.top_5_depts %}
					<tr>
						<td>{{ tuple[0] }}</td>
						<td class="text-right">{{ tuple[1] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<!-- Top 5 Classifications -->
	<div class="col-xs-12 col-md-6">
		<table class="table table-hover">
			<thead>
				<tr>
					<td class="text-center" colspan="2"><h4><strong>{{ _('Top 5 Classifications') }}</strong></h4></td>
				</tr>
				<tr>
					<td><strong>{{ _('Name') }}</strong></td>
					<td class="text-right"><strong>{{ _('Registrations') }}</strong></td>
				</tr>
			</thead>
			<tbody>
				{% for tuple in pass_dict.top_5_classifs %}
					<tr>
						<td>{{ tuple[0] }}</td>
						<td class="text-right">{{ tuple[1] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<!--
<div class="row dashboard-chart">
	<div class="col-xs-6">
		<table id="example" class="display table-responsive" style="width:100%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Registrations</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Mars</td>
					<td>1</td>
				</tr>
				<tr>
					<td>Ares</td>
					<td>2</td>
				</tr>
				<tr>
					<td>Lardo</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Dumas</td>
					<td>4</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
-->

<script async>
	// Add functionality to DataTables
	//$('#example').DataTable({
	//	'scrollY': '200px',
	//	'ordering': true,
	//	'scrollCollapse': true,
	//	'info': false,
	//	'paging': false
	//});
	
	// Add tooltips
	$('#regs-per-month-tooltip').tooltip({
		placement: 'right',
		title: "<h5>Tip:</h5><p>Learners whose registration has status 'Confirmed' in fiscal year {{ THIS_YEAR }}.</p>",
		animation: true,
		html: true
	});
	
	// Offerings per Language
	$('#regs-per-month').highcharts({
		chart: {type: 'column'},
		title: {text: ''},
		xAxis: {type: 'category'},
		yAxis: {title: {text: ''}, allowDecimals: false, min: 0},
		legend: {enabled: false},
		credits: {text: ''},
		series: [{
			name: 'Learners',
			colorByPoint: false,
			data: {{ pass_dict.regs_per_month | safe }}
		}]
	});
</script>
