<h1>{{ pass_dict.course_title }}</h1>

<!-- Overall Numbers-->
<table class="table table-hover">
	<thead>
		<tr>
			<td class="text-center" colspan="3"><h4><strong>{{ _('Overall Numbers') }}</strong></h4></td>
		</tr>
		<tr>
			<td><strong>{{ _('Fiscal Year') }}</strong></td>
			<td class="text-center"><strong>{{ LAST_YEAR }}</strong></td>
			<td class="text-center"><strong>{{ THIS_YEAR }}</strong></td>
		</tr>
	</thead>
	<tbody>
		{% for tup1, tup2 in pass_dict.overall_numbers_LY|zip(pass_dict.overall_numbers_TY) %}
			<tr>
				<!-- Name -->
				<td>{{ tup1[0] }}</td>
				
				<!-- LAST_YEAR's value -->
				{% if tup1[0] == _('Open Offerings') %}
					<!-- If offerings remain open in LAST_YEAR, show in red -->
					{% if tup1[1] > 0 %}
						<td class="text-center" style="color: red; font-weight: bold;">
							{{ tup1[1] }}
							<img id="open-offerings-tooltip" class="table-tooltip" src="{{ url_for('static', filename='stars/tooltip.png') }}" alt="Tooltip" />
						</td>
					{% else %}
						<td class="text-center">
							{{ tup1[1] }}
							<img id="open-offerings-tooltip" class="table-tooltip" src="{{ url_for('static', filename='stars/tooltip.png') }}" alt="Tooltip" />
						</td>
					{% endif %}
				{% else %}
					<td class="text-center">{{ tup1[1] }}</td>
				{% endif %}
				
				<!-- THIS_YEAR's value -->
				<td class="text-center">{{ tup2[1] }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<div class="row dashboard-chart">
	<!-- Offerings per Region -->
	<h4 class= "dashboard-chart-title">
		Offerings per Region
		<img id="regions-tooltip" class="inline-tooltip" src="{{ url_for('static', filename='stars/tooltip.png') }}" alt="Tooltip" />
	</h4>
	<div id="offerings-per-region" class="col-xs-12"></div>
</div>

<div class="row dashboard-chart">
	<!-- Offerings per Language -->
	<div id="offerings-per-lang" class="col-xs-12 col-md-6"></div>
	
	<!-- % of Offerings Cancelled -->
	<div id="offerings-cancelled" class="col-xs-12 col-md-6"></div>
</div>

<div class="row dashboard-chart">
	<!-- Top 5 Departments -->
	<div class="col-xs-12 col-md-6">
		<table class="table table-hover">
			<thead>
				<tr>
					<td class="text-center" colspan="2"><h4><strong>{{ _('Top 5 Departments') }}</strong></h4></td>
				</tr>
				<tr>
					<td><strong>{{ _('Name') }}</strong></td>
					<td class="text-right"><strong>{{ _('Registrations') }}</strong></td>
				</tr>
			</thead>
			<tbody>
				{% for tuple in pass_dict.top_5_depts %}
					<tr>
						<td>{{ tuple[0] }}</td>
						<td class="text-right">{{ tuple[1] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<!-- Top 5 Classifications -->
	<div class="col-xs-12 col-md-6">
		<table class="table table-hover">
			<thead>
				<tr>
					<td class="text-center" colspan="2"><h4><strong>{{ _('Top 5 Classifications') }}</strong></h4></td>
				</tr>
				<tr>
					<td><strong>{{ _('Name') }}</strong></td>
					<td class="text-right"><strong>{{ _('Registrations') }}</strong></td>
				</tr>
			</thead>
			<tbody>
				{% for tuple in pass_dict.top_5_classifs %}
					<tr>
						<td>{{ tuple[0] }}</td>
						<td class="text-right">{{ tuple[1] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="row dashboard-chart">
	<!-- Average Class Size -->
	<div id="avg-class-size" class="col-xs-12 col-md-6"></div>
	
	<!-- Average No-Shows per Offering -->
	<div id="avg-no-shows" class="col-xs-12 col-md-6"></div>
</div>

<script>
	// Add tooltips
	$('#open-offerings-tooltip').tooltip({
		placement: 'right',
		title: '<h5>Tip:</h5><p>Past offerings must be closed before Level 1 surveys are sent.</p>',
		animation: true,
		html: true
	});
	$('#regions-tooltip').tooltip({
		placement: 'right',
		title: '<h5>Tip:</h5><p>This chart is interactive and shows offerings by Region, Province, and City.</p>',
		animation: true,
		html: true
	});
	
	// Offerings per Region
	$('#offerings-per-region').highcharts({
		chart: {type: 'column'},
		title: {text: ''},
		xAxis: {type: 'category'},
		yAxis: {title: {text: ''}, allowDecimals: false, min: 0},
		legend: {enabled: false},
		credits: {text: ''},
		series: [{
			name: 'Offerings',
			colorByPoint: true,
			data: [
				{% set regions = ['Atlantic', 'NCR', 'Ontario Region', 'Pacific', 'Prairie', 'Québec Region', 'Outside Canada'] %}
				{% for region in regions %}
					{name: '{{ region }}', drilldown: '{{ region }}', y: {{ pass_dict.offerings_per_region[region] }} },
				{% endfor %}
			]
		}],
		drilldown: {
			series: [
				// Province drilldowns
				{% for region in regions %}
					{name: '{{ region }}', id: '{{ region }}', data: {{ pass_dict.province_drilldown[region] | safe }} },
				{% endfor %}
				
				// City drilldowns
				{% set provinces = ['Alberta', 'British Columbia', 'Manitoba', 'NCR/RCN', 'New Brunswick',
									'Newfoundland and Labrador', 'Northwest Territories', 'Nova Scotia',
									'Nunavut', 'Ontario', 'Ontario_NCR', 'Prince Edward Island', 'Quebec',
									'Québec_NCR', 'Saskatchewan', 'Yukon'] %}
				{% for province in provinces %}
					{name: '{{ province }}', id: '{{ province }}', data: {{ pass_dict.city_drilldown[province] | safe }} },
				{% endfor %}
			]
		}
	});
	// Offerings per Language
	$('#offerings-per-lang').highcharts({
		chart: {type: 'column'},
		title: {text: "{{ _('Open & Delivered Offerings per Language') }}", style: {fontWeight: 'bold'}},
		xAxis: {categories: ['{{ LAST_YEAR }}', '{{ THIS_YEAR }}']},
		yAxis: {title: {text: ''}, allowDecimals: false, min: 0},
		legend: {layout: 'horizontal', align: 'center', verticalAlign: 'bottom'},
		credits: {text: ''},
		series: [
			{name: "{{ _('English') }}", data: [{{ pass_dict.offerings_per_lang_LY['English'] }}, {{ pass_dict.offerings_per_lang_TY['English'] }}]},
			{name: "{{ _('French') }}", data: [{{ pass_dict.offerings_per_lang_LY['French'] }}, {{ pass_dict.offerings_per_lang_TY['French'] }}]},
			{name: "{{ _('Bilingual') }}", data: [{{ pass_dict.offerings_per_lang_LY['Bilingual'] }}, {{ pass_dict.offerings_per_lang_TY['Bilingual'] }}]}
		]
	});
	// Offerings Cancelled
	$('#offerings-cancelled').highcharts({
		chart: {type: 'column'},
		title: {text: "{{ _('%% of Offerings Cancelled') }}", style: {fontWeight: 'bold'}},
		xAxis: {categories: ['{{ LAST_YEAR }}', '{{ THIS_YEAR }}']},
		yAxis: {title: {text: ''}, allowDecimals: true,	min: 0,
				labels: {formatter: function() {return String(this.value) + "%";}}},
		tooltip: {
			valueDecimals: 0,
			valuePrefix: '',
			valueSuffix: '%'
		},
		legend: {layout: 'horizontal', align: 'center', verticalAlign: 'bottom'},
		credits: {text: ''},
		series: [
			{name: "{{ _('Average All') }}", data: [{{ pass_dict.offerings_cancelled_global_LY }}, {{ pass_dict.offerings_cancelled_global_TY }}]},
			{name: '{{ pass_dict.course_code }}', data: [{{ pass_dict.offerings_cancelled_LY }}, {{ pass_dict.offerings_cancelled_TY }}]}
		]
	});
	// Average Class Size
	$('#avg-class-size').highcharts({
		chart: {type: 'column'},
		title: {text: "{{ _('Average Class Size') }}", style: {fontWeight: 'bold'}},
		xAxis: {categories: ['{{ LAST_YEAR }}', '{{ THIS_YEAR }}']},
		yAxis: {title: {text: ''}, allowDecimals: false, min: 0},
		legend: {layout: 'horizontal', align: 'center', verticalAlign: 'bottom'},
		credits: {text: ''},
		series: [{name: "{{ _('Average All') }}", data: [{{ pass_dict.avg_class_size_global_LY }}, {{ pass_dict.avg_class_size_global_TY }}]},
				 {name: '{{ pass_dict.course_code }}', data: [{{ pass_dict.avg_class_size_LY }}, {{ pass_dict.avg_class_size_TY }}]}]
	});
	// Average No-Shows per Offering
	$('#avg-no-shows').highcharts({
		chart: {type: 'column'},
		title: {text: "{{ _('Average No-Shows per Offering') }}", style: {fontWeight: 'bold'}},
		xAxis: {categories: ['{{ LAST_YEAR }}', '{{ THIS_YEAR }}']},
		yAxis: {title: {text: ''}, allowDecimals: false, min: 0},
		legend: {layout: 'horizontal', align: 'center', verticalAlign: 'bottom'},
		credits: {text: ''},
		series: [{name: "{{ _('Average All') }}", data: [{{ pass_dict.avg_no_shows_global_LY }}, {{ pass_dict.avg_no_shows_global_TY }}]},
				 {name: '{{ pass_dict.course_code }}', data: [{{ pass_dict.avg_no_shows_LY }}, {{ pass_dict.avg_no_shows_TY }}]}]
	});
</script>
