<h1>{{ pass_dict.course_title }}</h1>

<p class="text-justify">{{ pass_dict.course_description | safe }}</p>

<!-- Display main properties with glyphicons -->
<table id="glyph-table">
	<tbody>
		<tr>
			<td>
				<span class="glyphicon glyphicon-education"></span>
				<p>Provider</p>
				<!-- Use dict.pop so that remaining elements can be rendered with for loop -->
				<p class="glyph-info">{{ pass_dict.course_info.pop('Provider', '&lt;awaiting mapping&gt;') }}</p>
			</td>
			<td>
				<span class="glyphicon glyphicon-time"></span>
				<p>Duration</p>
				{% set duration = pass_dict.course_info.pop('Duration', 0) %}
				<p class="glyph-info">{{ duration }} {{ 'hours' if duration != 1 else 'hour' }}</p>
			</td>
		</tr>
		<tr>
			<td>
				<span class="glyphicon glyphicon-pencil"></span>
				<p>Business Line</p>
				<p class="glyph-info">&lt;awaiting mapping&gt;</p>
			</td>
			<td>
				<span class="glyphicon glyphicon-eye-open"></span>
				<p>Displayed on GCcampus</p>
				<p class="glyph-info">{{ pass_dict.course_info.pop('Displayed on GCcampus', '&lt;awaiting mapping&gt;') }}</p>
			</td>
		</tr>
	</tbody>
</table>

<!-- Additional Info -->
<table class="table table-hover">
	<thead>
		<tr>
			<td class="text-center" colspan="2">
				<h4>
					<strong>Additional Info</strong>
					<img id="additional-info-tooltip" class="inline-tooltip" src="{{ url_for('static', filename='stars/tooltip.png') }}" alt="Tooltip" />
				</h4>
			</td>
		</tr>
		<tr>
			<td><strong>Field</strong></td>
			<td class="text-right"><strong>Contents</strong></td>
		</tr>
	</thead>
	<tbody>
		{% for key, value in pass_dict.course_info.items() %}
			<tr>
				<td>{{ key }}</td>
				<td class="text-right">{{ value }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<script>
	// Add tooltip
	$('#additional-info-tooltip').tooltip({
		placement: 'right',
		title: '<h5>Tip:</h5><p>This information is tracked by Curriculum Management.</p>',
		animation: true,
		html: true
	});
</script>
