<h1>{{ pass_dict.course_title }}</h1>

<!-- Use dict.pop so that remaining elements can be rendered in for loop below -->
{% set course_description = pass_dict.course_info.pop('Course Description', false) %}
{% if course_description %}
	<!-- div tag rather than para tag as course_description contains its own markup -->
	<div>
		{{ course_description | safe }}
	</div>
{% else %}
	<p>{{ _('Apologies, this course is currently catalogued without a description.') }}</p>
{% endif %}

<!-- Display main properties with glyphicons -->
<table id="glyph-table">
	<tbody>
		<tr>
			<td>
				<span class="glyphicon glyphicon-education"></span>
				<p>{{ _('Provider') }}</p>
				<p class="glyph-info">
					{{ pass_dict.course_info.pop('Provider', _('&lt;awaiting mapping&gt;')) }}
				</p>
			</td>
			<td>
				<span class="glyphicon glyphicon-time"></span>
				<p>{{ _('Duration') }}</p>
				<p class="glyph-info">
					{% set duration = pass_dict.course_info.pop('Duration', 0) %}
					{{ duration }} {{ _('hours') if duration != 1 else _('hour') }}
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<span class="glyphicon glyphicon-pencil"></span>
				<p>{{ _('Business Line') }}</p>
				<p class="glyph-info">
					{{ pass_dict.course_info.pop('Business Line', _('&lt;awaiting mapping&gt;')) }}
				</p>
			</td>
			<td>
				<span class="glyphicon glyphicon-eye-open"></span>
				<p>
					{{ _('Displayed on GCcampus') }}
					<img id="displayed-tooltip" class="inline-tooltip" src="{{ url_for('static', filename='tooltip.png') }}" alt="{{ _('Tooltip') }}" />
				</p>
				<p class="glyph-info">
					{{ pass_dict.course_info.pop('Displayed on GCcampus', _('&lt;awaiting mapping&gt;')) }}
				</p>
			</td>
		</tr>
	</tbody>
</table>

<!-- Additional Info -->
<table class="table table-hover">
	<thead>
		<tr>
			<td class="text-center" colspan="2">
				<h4>
					<strong>{{ _('Additional Info') }}</strong>
					<img id="additional-info-tooltip" class="inline-tooltip" src="{{ url_for('static', filename='tooltip.png') }}" alt="Tooltip" />
				</h4>
			</td>
		</tr>
		<tr>
			<td><strong>{{ _('Field') }}</strong></td>
			<td class="text-right"><strong>{{ _('Contents') }}</strong></td>
		</tr>
	</thead>
	<tbody>
		<!-- Pairs of translated value for display and name of dictionary key -->
		{% set additional_info = [
			[_('Business Type'), 'Business Type'],
			[_('Communities'), 'Communities'],
			[_('Director'), 'Director'],
			[_('Main Topic'), 'Main Topic'],
			[_('Point of Contact'), 'Point of Contact'],
			[_('Program Manager'), 'Program Manager'],
			[_('Project Lead'), 'Project Lead'],
			[_('Required Training'), 'Required Training']
		] %}
		
		{% for pair in additional_info %}
			<tr>
				<td>{{ pair[0] }}</td>
				<td class="text-right">
					{{ pass_dict.course_info.get(pair[1], _('&lt;awaiting mapping&gt;')) }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<script async>
	// Add tooltip
	$('#displayed-tooltip').tooltip({
		placement: 'bottom',
		title: "{{ _('<h5>Tip:</h5><p>Some courses (like leadership programs) have restricted access.</p>') }}",
		animation: true,
		html: true
	});
	$('#additional-info-tooltip').tooltip({
		placement: 'bottom',
		title: "{{ _('<h5>Tip:</h5><p>This information is tracked by Curriculum Management.</p>') }}",
		animation: true,
		html: true
	});
</script>
