<h1>{{ pass_dict.course_title }}</h1>

<!-- Dropdown to select offering-map or learner-map -->
<div class="map-filter">
	<!-- If an online course, disable div offering-map and add tooltip with explanation -->
	{% if pass_dict.course_info['Business Type'] == 'Online' %}
		<p>{{ _('Filter: ') }}</p>
		<select id="filter-maps" onchange="filterMaps()">
			<option value="learner-map">{{ _('Learner Locations') }}</option>
		</select>
		<img id="online-map-disabled-tooltip" class="inline-tooltip" src="{{ url_for('static', filename='stars/tooltip.png') }}" alt="{{ _('Tooltip') }}" />
	{% else %}
		<p>{{ _('Filter: ') }}</p>
		<select id="filter-maps" onchange="filterMaps()">
			<option value="offering-map">{{ _('Offering Locations') }}</option>
			<option value="learner-map">{{ _('Learner Locations') }}</option>
		</select>
	{% endif %}
</div>

<!-- Map headings -->
<h4 class="offering-map">
	{{ _('Locations of open and delivered offerings around the globe.') }}
	<img id="offering-tooltip" class="inline-tooltip" src="{{ url_for('static', filename='stars/tooltip.png') }}" alt="{{ _('Tooltip') }}" />
</h4>
<h4 class="learner-map">
	{{ _('Locations of learners around the globe.') }}
	<img id="learner-tooltip" class="inline-tooltip" src="{{ url_for('static', filename='stars/tooltip.png') }}" alt="{{ _('Tooltip') }}" />
</h4>

<!-- Maps -->
<div id="offering-map" class="offering-map"></div>
<div id="learner-map" class="learner-map"></div>

<!-- Legend -->
<div id="legend" class="hidden-xs">
	<div id="legend-title">
		<h4>{{ _('Legend') }}</h4>
	</div>
		<div id="legend-contents">
			<div>
				<img class="legend-marker" src="{{ url_for('static', filename='markers/red-dot.png') }}" alt="{{ _('Red Marker') }}" />
				<p>1-4</p>
			</div>
			<div>
				<img class="legend-marker" src="{{ url_for('static', filename='markers/orange-dot.png') }}" alt="{{ _('Orange Marker') }}" />
				<p>5-9</p>
			</div>
			<div>
				<img class="legend-marker" src="{{ url_for('static', filename='markers/green-dot.png') }}" alt="{{ _('Green Marker') }}" />
				<p>10-19</p>
			</div>
			<div>
				<img class="legend-marker" src="{{ url_for('static', filename='markers/blue-dot.png') }}" alt="{{ _('Blue Marker') }}" />
				<p>20+</p>
			</div>
		</div>
</div>
<!-- Space between map and footer -->
<div style="clear: both;">
	<br />
</div>

<script async>
	// Add tooltip contents
	$('#online-map-disabled-tooltip').tooltip({
		placement: 'right',
		title: "{{ _('<h5>Tip:</h5><p>The \'Offering Locations\' section is disabled for online courses as they have no physical location.</p>') }}",
		animation: true,
		html: true
	});
	$('#offering-tooltip').tooltip({
		placement: 'right',
		title: "{{ _('<h5>Tip:</h5><p>The map shows offerings with status \'Open\' or \'Delivered\'.</p>') }}",
		animation: true,
		html: true
	});
	$('#learner-tooltip').tooltip({
		placement: 'right',
		title: "{{ _('<h5>Tip:</h5><p>The map shows learners whose registration status is \'Confirmed\'.</p>') }}",
		animation: true,
		html: true
	});
	
	// Unsual structure to fix IE11 jQuery bug: hide with JS, not with CSS
	$('#offering-map').hide();
	$('#learner-map').hide();
	{% if pass_dict.course_info['Business Type'] == 'Online' %}
		$('#learner-map').show();
	{% else %}
		$('#offering-map').show();
	{% endif %}
	
	// Enable dropdown to show / hide
	function filterMaps() {
		var dropdownSelection = $('#filter-maps').val();
		$('.offering-map').hide();
		$('.learner-map').hide();
		$('.' + dropdownSelection).show();
	}
	
	// Function to add marker
	function addMarker(city_name, count, lat, lng, map) {
		// Determine marker color based of number of offerings
		var color;
		if (count < 5) {
			color = "red";
		} else if(count >= 5 && count < 10) {
			color = "orange";
		} else if(count >= 10 && count < 20) {
			color = "green";
		} else if(count >= 20) {
			color = "blue";
		} else {
			color = "red"
		}
		// Add marker
		var marker = new google.maps.Marker({
			position: {lat: lat, lng: lng},
			map: map,
			icon: 'http://maps.google.com/mapfiles/ms/icons/' + color + '-dot.png'
		});
		// Add tooltip
		var contentString = city_name + ': ' + String(count);
		var infoWindow = new google.maps.InfoWindow({
			content: contentString
		});
		// Show tooltip upon click
		marker.addListener('click', function() {
			infoWindow.open(map, marker);
		});
	}
	
	function initMap(id, data) {
		// Map options
		var options = {
			zoom: 4.2,
			center: {lat: 57.0, lng: -96.0}
		};
		// Init map
		var map = new google.maps.Map(document.getElementById(id), options);
		// List of cities to add
		markers = data;
		// Loop through list and add
		for (var i = 0; i < markers.length; i++) {
			addMarker(markers[i][0], markers[i][1], markers[i][2], markers[i][3], map);
		}
	}
	
	// Assemble everything into single function to pass to Google Maps API
	function initMaps() {
		initMap('offering-map', {{ pass_dict.offering_city_counts | safe }});
		initMap('learner-map', {{ pass_dict.learner_city_counts | safe }});
	}
</script>

<!-- Load script from Google and pass API key -->
{% set lang = 'fr' if request.cookies.get('lang', None) == 'fr' else 'en' %}
{% if lang == 'fr' %}
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA99GCtwUy6QcS3YmzDtelxy8LpwumaCtA&callback=initMaps&language=fr"></script>
{% else %}
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA99GCtwUy6QcS3YmzDtelxy8LpwumaCtA&callback=initMaps"></script>
{% endif %}
