<h1>{{ pass_dict.course_title }}</h1>

<!-- Dropdown to select offering-map or learner-map -->
<div class="map-filter">
	<p>Filter: </p>
	<select id="filter-maps" onchange="filterMaps()">
		<option value="offering-map">Offering Locations</option>
		<option value="learner-map">Learner Locations</option>
	</select>
</div>

<!-- Map headings -->
<h4 class="offering-map">
	Locations of open and delivered offerings around the globe.
	<img id="offering-tooltip" class="inline-tooltip" src="{{ url_for('static', filename='stars/tooltip.png') }}" alt="Tooltip" />
</h4>
<h4 class="learner-map">
	Locations of learners around the globe.
	<img id="learner-tooltip" class="inline-tooltip" src="{{ url_for('static', filename='stars/tooltip.png') }}" alt="Tooltip" />
</h4>

<!-- Maps -->
<div id="offering-map" class="offering-map"></div>
<div id="learner-map" class="learner-map"></div>

<!-- Legend -->
<div id="legend">
	<div id="legend-title">
		<h4>Legend</h4>
	</div>
		<div id="legend-contents">
			<div>
				<img class="legend-marker" src="{{ url_for('static', filename='markers/red-dot.png') }}" alt="red-dot" />
				<p>0-4</p>
			</div>
			<div>
				<img class="legend-marker" src="{{ url_for('static', filename='markers/orange-dot.png') }}" alt="orange-dot" />
				<p>5-9</p>
			</div>
			<div>
				<img class="legend-marker" src="{{ url_for('static', filename='markers/green-dot.png') }}" alt="green-dot" />
				<p>10-19</p>
			</div>
			<div>
				<img class="legend-marker" src="{{ url_for('static', filename='markers/blue-dot.png') }}" alt="blue-dot" />
				<p>20+</p>
			</div>
		</div>
</div>
<!-- Space between map and footer -->
<div style="clear: both;">
	<br />
</div>

<script>
	// Add tooltip contents
	$('#offering-tooltip').tooltip({
		placement: 'right',
		title: "<h5>Tip:</h5><p>The map shows offerings with status 'Open' and 'Delivered'. Note that online courses have no physical location to display.</p>",
		animation: true,
		html: true
	});
	$('#learner-tooltip').tooltip({
		placement: 'right',
		title: "<h5>Tip:</h5><p>The map shows learners whose registration status is 'Confirmed'.</p>",
		animation: true,
		html: true
	});
	
	// Enable dropdown to show / hide
	function filterMaps() {
		var dropdownSelection = $('#filter-maps').val();
		$('.offering-map').hide();
		$('.learner-map').hide();
		$(`.${dropdownSelection}`).show();
	}
	
	// Function to add marker
	function addMarker(city_name, count, lat, lng, map) {
		// Determine marker color based of number of offerings
		var color;
		if (count < 5) {
			color = "red";
		} else if(count >= 5 && count < 10) {
			color = "orange";
		} else if(count >= 10 && count < 20) {
			color = "green";
		} else if(count >= 20) {
			color = "blue";
		} else {
			color = "red"
		}
		// Add marker
		var marker = new google.maps.Marker({
			position: {lat: lat, lng: lng},
			map: map,
			icon: 'http://maps.google.com/mapfiles/ms/icons/' + color + '-dot.png'
		});
		// Add tooltip
		var contentString = city_name + ': ' + String(count);
		var infoWindow = new google.maps.InfoWindow({
			content: contentString
		});
		// Show tooltip upon click
		marker.addListener('click', function() {
			infoWindow.open(map, marker);
		});
	}
	
	function initMap(id, data) {
		// Map options
		var options = {
			zoom: 4.2,
			center: {lat: 57.0, lng: -96.0}
		};
		// Init map
		var map = new google.maps.Map(document.getElementById(id), options);
		// List of cities to add
		markers = data;
		// Loop through list and add
		for (var i = 0; i < markers.length; i++) {
			addMarker(markers[i][0], markers[i][1], markers[i][2], markers[i][3], map);
		}
	}
	
	<!-- Assemble everything into single function to pass to Google Maps API -->
	function initMaps() {
		initMap('offering-map', {{ pass_dict.offering_city_counts | safe }});
		initMap('learner-map', {{ pass_dict.learner_city_counts | safe }});
	}
</script>

<!-- Load script from Google and pass API key -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA99GCtwUy6QcS3YmzDtelxy8LpwumaCtA&callback=initMaps"></script>
