{% extends 'layout.html' %}

{% block head %}
	<!-- Highcharts -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock head %}

{% block body %}
	<div class="container">
		<!-- Tabs -->
		<ul class="nav nav-tabs nav-justified main-tabs">
			<li class="active"><a href="#description">{{ _('Course Description') }}</a></li>
			<li><a href="#dashboard">{{ _('Dashboard') }}</a></li>
			<li><a href="#ratings">{{ _('Ratings') }}</a></li>
			<li><a href="#comments">{{ _('Comments') }}</a></li>
		</ul>
		
		<!-- Tabs' contents -->
		<!-- Course Description -->
		<section id="description" class="tab-content active">
			{% include 'course-page/description.html' %}
		</section>
		
		<!-- Dashboard -->
		<section id="dashboard" class="tab-content hide">
			{% include 'course-page/dashboard.html' %}
		</section>
		
		<!-- Level 1 Statistics -->
		<section id="ratings" class="tab-content hide">
			{% include 'course-page/ratings.html' %}
		</section>
		
		<!-- Level 1 Comments -->
		<section id="comments" class="tab-content hide">
			{% include 'course-page/comments.html' %}
		</section>
	</div>
	
	<script>
		// Activate and deactivate tabs
		$(".main-tabs li").on("click", function(){
			$(".main-tabs li").removeClass("active");
			$(this).addClass("active");
		});
		$(".sub-tabs li").on("click", function(){
			$(".sub-tabs li").removeClass("active");
			$(this).addClass("active");
		});
		
		// Show and hide sections
		$(document).ready(function(){
			$('.main-tabs > li > a').click(function(event){
				event.preventDefault();
				
				// Hide section that's currently active
				var current_section = $('.main-tabs > li.active > a').attr('href');
				$(current_section).removeClass('active');
				$(current_section).addClass('hide');
				
				// Show section whose tab was just clicked
				var new_section = $(this).attr('href');
				$(new_section).removeClass('hide');
				$(new_section).addClass('active');
			});
		});
		$(document).ready(function(){
			$('.sub-tabs > li > a').click(function(event){
				event.preventDefault();
				
				// Hide section that's currently active
				var current_section = $('.sub-tabs > li.active > a').attr('href');
				$(current_section).removeClass('active');
				$(current_section).addClass('hide');
				
				// Show section whose tab was just clicked
				var new_section = $(this).attr('href');
				$(new_section).removeClass('hide');
				$(new_section).addClass('active');
			});
		});
	</script>
{% endblock body %}
