<h1>
	{{ pass_dict.course_title }}
	<img id="ratings-title-tooltip" class="inline-tooltip" src="{{ url_for('static', filename='stars/tooltip.png') }}" alt="{{ _('Tooltip') }}" />
</h1>

<!-- Loop through pass_dict.all_ratings and dynamically create a chart for every question; check first if ratings exist -->
{% if pass_dict.all_ratings %}
{% for question in pass_dict.all_ratings %}
	<!-- Div to hold chart -->
	<div class="row ratings-chart">
		<!-- Add a tooltip explaining GCcampus Tools charts -->
		{% if question[0] in ['Tools - Blogs', 'Tools - Forums', 'Tools - Job Aid', 'Tools - Videos'] %}
			<h4 class="ratings-chart-title">
				{{ question[0] }}
				<img class="inline-tooltip gctools-tooltip" src="{{ url_for('static', filename='stars/tooltip.png') }}" alt="{{ _('Tooltip') }}" />
			</h4>
		{% else %}
			<h4 class="ratings-chart-title">{{ question[0] }}</h4>
		{% endif %}
		<div id="chart-{{ loop.index }}" class="col-xs-12"></div>
	</div>
	<!-- Script to build chart -->
	<script async>
		$('#chart-{{ loop.index }}').highcharts({
			chart: {type: 'line'},
			title: {text: ''},
			xAxis: {categories: ['April', 'May', 'June', 'July', 'August', 'September',
								 'October', 'November', 'December', 'January']},
			yAxis: {title: {text: 'Average Response (Out of Five)'}, min: 0, max: 5},
			credits: {text: ''},
			series: [{name: '{{ THIS_YEAR }}', color: '#335075', data: {{ question[1] | safe }}}],
			tooltip: {
				formatter: function() {return ' ' +
					'Monthly Average: ' + this.point.y + '<br />' +
					'Number of Responses: ' + this.point.count + '<br />'
				}
			}
		});
	</script>
{% endfor %}
{% else %}
	<h4>{{ _('Note: This course has received no ratings thus far in the fiscal year.') }}</h4>
{% endif %}


<script async>
	// Add tooltip contents
	$('#ratings-title-tooltip').tooltip({
		placement: 'right',
		title: "{{ _('<h5>Tip:</h5><p>Ratings on instructor performance are currently disabled due to privacy restrictions.</p>') }}",
		animation: true,
		html: true
	});
	
	$('.gctools-tooltip').tooltip({
		placement: 'right',
		title: '<h5>Tip:</h5><p>Learners report if a GCcampus tool contributed to their learning on a scale of 1 (Not at all) to 5 (To a great extent).</p>',
		animation: true,
		html: true
	});
</script>
