{% extends 'layout.html' %}

{% block body %}
	<div class="container">
		<div class="jumbotron">
			<h1>{{ _('Welcome to the CSPS Data Explorer') }}</h1>
		</div>
		<p style="color: red; font-weight: bold;">TEST - FAKE DATA</p>
		<p>
			{{ _("Your favourite new team, the <strong>Innovation and Policy Services Branch</strong> 
			(IPSB), is combining the School's PDF dashboards with an interactive course catalogue 
			to help track and administer the curriculum.") }}
		</p>
		<br />
		<p>
			<h4>{{ _('Dashboards Currently Available') }}</h4>
			<ul>
				<li>{{ _('Instructor-Led') }}</li>
			</ul>
			<br />
			<h4>{{ _('Soon To Be Implemented') }}</h4>
			<ul>
				<li>{{ _('Online') }}</li>
				<li>{{ _('Departmental') }}</li>
			</ul>
			<br />
			{{ _('If you encounter any bugs, please contact <a href="mailto:sam.louden@canada.ca">Sam Louden</a>.') }}
		</p>
	</div>
{% endblock body %}
