{% extends 'layout.html' %}

{% block body %}
	<div class="container">
		<div class="jumbotron">
			<h1>{{ _('Welcome to the CSPS Course Catalogue') }}</h1>
		</div>
		<p>
			{{ _("Your two favourite teams, <strong>Curriculum Management</strong> and the 
			<strong>Innovation and Policy Services Branch</strong>, are updating the School's 
			PDF dashboards and combining them with an interactive course catalogue to help track 
			and administer the curriculum.") }}
		</p>
		<br />
		<p>
			<h4>{{ _('Currently Catalogued') }}</h4>
			<ul>
				<li>{{ _('Formal Learning Products') }}</li>
			</ul>
			<br />
			<h4>{{ _('Coming Soon') }}</h4>
			<ul>
				<li>{{ _('Departmental Usage') }}</li>
			</ul>
			<br />
			{{ _('If you encounter any bugs, please contact <a href="mailto:sam.louden@canada.ca">Sam Louden</a>.') }}
		</p>
	</div>
{% endblock body %}
