{% extends 'layout.html' %}

{% block head %}
	<!-- Highcharts -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock head %}

{% block body %}
	<div class="container">
		<h1>{{ pass_dict.course_title }}</h1>
		<div class="row">
			<!-- General Course Info -->
			<div class="col-xs-12">
				<table class="table table-hover">
					<tr>
						<td class="text-center" colspan="3"><h4><strong>{{ _('Course Information and Overall Numbers') }}</strong></h4></td>
					</tr>
					<tr>
						<td><strong>{{ _('Indicator') }}</strong></td>
						<td class="text-center"><strong>{{ LAST_YEAR }}</strong></td>
						<td class="text-center"><strong>{{ THIS_YEAR }}</strong></td>
					</tr>
					{% for tup1, tup2 in pass_dict.general_info_LY|zip(pass_dict.general_info_TY) %}
						<tr>
							<td>{{ tup1[0] }}</td>
							<!-- If offerings remain open in LAST_YEAR, show in red -->
							{% if tup1[0] == _('Open Offerings') and tup1[1] > 0 %}
								<td class="text-center" style="color: red; font-weight: bold;">{{ tup1[1] }}</td>
							{% else %}
								<td class="text-center">{{ tup1[1] }}</td>
							{% endif %}
							<td class="text-center">{{ tup2[1] }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			
			<!-- Offerings per Region -->
			<div id="offerings-per-region" class="col-xs-12"></div>
		</div>
			

	</div>
	
	<script>
		// Set font for Highcharts
		Highcharts.setOptions({chart: {style: {fontFamily: 'Helvetica'}}});
		
		function offeringsPerRegion (id) {
			$('#' + String(id)).highcharts({
				chart: {type: 'column'},
				title: {text: "{{ _('Open & Delivered Offerings per Region') }}", style: {fontWeight: 'bold'}},
				xAxis: {categories: ["{{ _('Offerings') }}"]},
				yAxis: {title: {text: ''}, allowDecimals: false, min: 0},
				legend: {layout: 'horizontal', align: 'center', verticalAlign: 'bottom'},
				credits: {text: ''},
				series: [
					{name: "{{ _('Atlantic') }}", data: [{{ pass_dict.offerings_per_region['Atlantic'] }}]},
					{name: "{{ _('NCR') }}", data: [{{ pass_dict.offerings_per_region['NCR'] }}]},
					{name: "{{ _('Ontario') }}", data: [{{ pass_dict.offerings_per_region['Ontario'] }}]},
					{name: "{{ _('Pacific') }}", data: [{{ pass_dict.offerings_per_region['Pacific'] }}]},
					{name: "{{ _('Prairie') }}", data: [{{ pass_dict.offerings_per_region['Prairie'] }}]},
					{name: "{{ _('Quebec') }}", data: [{{ pass_dict.offerings_per_region['Quebec'] }}]},
					{name: "{{ _('Outside Canada') }}", data: [{{ pass_dict.offerings_per_region['Outside Canada'] }}]}
				]
			});
		};

		
		offeringsPerRegion('offerings-per-region');

		
	</script>
{% endblock body %}
