<nav class="navbar navbar-default" id="my-nav">
	<div class="container">
		<a class="navbar-brand" href="{{ url_for('index') }}">CSPS Data Explorer</a>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">
				<li class="li-border-left"><a href="{{ url_for('index') }}">Home</a></li>
				<li class="li-border-left"><a href="{{ url_for('about') }}">About</a></li>
				<li class="dropdown li-border-right">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Dashboards<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="mars"><a href="{{ url_for('departmental') }}">Departmental</a></li>
						<li class="mars"><a href="{{ url_for('instructor_led') }}">Instructor-Led</a></li>
						<li class="mars"><a href="{{ url_for('online') }}">Online</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="li-border-right"><a href="{{ url_for('index') }}">Français</a></li>
			</ul>
		</div>
	</div>
</nav>
