html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	/* Set to 16px to override Chrome's default of 12px */
	/* 1em now equivalent to 16px, 2em to 32px, etc. in child elements */
	font-size: 16px;
	/* Same as height of footer */
	margin-bottom: 60px;
}

h1 {
	color: green;
}

.jumbotron h1 {
	font-size: 3.3em;
	color: green;
}

a {
	color: #335075;
}

.nav-tabs .active a {
	color: #335075 !important;
}

.goc-fip {
	max-height: 40px;
	margin: 10px 10px 5px 10px;
}

.goc-footer {
	border-top: 4px solid #335075;
	line-height: 30px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Same as height of bottom of body */
	height: 60px;
}

.li-border-left {
	border-left: 1px solid #999;
}

.li-border-right {
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

/* Customize Boostrap navbar */
.navbar-default {
	background-color: #335075;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-nav li a {
	color: #fff;
}

.navbar-default .dropdown-menu li a {
	background-color: #fff;
	color: #333
}

/* Styling when hovering over navbar */
.dropdown-toggle:active, .open .dropdown-toggle {
	background: #243850 !important;
	color: #fff !important;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
    background-color: #243850;
    color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    background-color: #243850;
    color: #fff;
}

/* Button in WTForms */
.btn.btn-primary {
	background-color: #335075;
	color: #fff;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active {
	background-color: #243850;
	color: #fff;
}

/* Background color when hovering over a table */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #5fba7d;
}
