/***** Global *****/
html {
	position: relative;
	min-height: 100%;
	/* Explicitly declare so can be referenced by rem units */
	font-size: 16px;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	/* Same as height of footer */
	margin-bottom: 60px;
}
h1 {
	color: #066169;
	margin: 20px 0;
}
.jumbotron h1 {
	text-align: left;
	font-size: 3.3rem;
	color: #066169;
}
a {
	color: #066169;
}
table {
	margin: 20px 0;
}
.table-tooltip {
	width: 20px;
	position: absolute;
	margin-left: 20px;
}
.inline-tooltip {
	width: 20px;
	margin-left: 5px;
}
/***** End global *****/



/***** Footer *****/
.goc-footer {
	border-top: 4px solid #066169;
	line-height: 30px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Same as height of body's margin-bottom */
	height: 60px;
}
.footer .goc-fip {
	display: inline;
}
/***** End footer *****/



/***** Navbars *****/
/* Both */
.navbar-default {
	border: none;
	border-radius: 0;
	margin: 0;
}
/* First navbar */
#first-nav {
	background-color: #000;
}
#first-nav a {
	color: #fff;
}
#first-nav img {
	height: 20px;
}
/* Second navbar */
#second-nav {
	background-color: #232323;
	padding: 30px 10px 10px 10px;
}
#second-nav a {
	color: #fff;
	font-size: 1.5rem;
}
/* Transition links on hover */
/* Don't show transition on mobile as navbar will be collapsed */
@media (min-width: 768px) {
	#second-nav a::after {
		content: '';
		display: block;
		background-color: #ffcc33;
		height: 4px;
		width: 0%;
		margin-top: 6px;
		transition: width 450ms ease-in-out;
	}
	#second-nav a:hover::after {
		width: 100%;
	}
}
/***** End navbar *****/



/***** Home and about *****/
#home-page,
#about-page {
	text-align: justify;
}
#home-page p,
#about-page p {
	margin: 1.5rem 0;
}
#home-page h3,
#about-page h3 {
	margin: 1.5rem 0;
	color: #066169;
	text-align: left;
}
/***** End home and about *****/



/***** Selection form *****/
/* Button */
.btn.btn-primary {
	background-color: #066169;
	color: #fff;
}
/* Button hover */
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
	background-color: #0aa4b1;
	color: #fff;
}
/***** End selection form *****/



/***** Loader *****/
#loader {
	display: none;
}
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 40px;
	display: flex;
	align-items: center;
}
.obj {
	width: 6px;
	height: 40px;
	background: #066169;
	margin: 0 3px;
	/* Rounded corners */
	border-radius: 10px;
	animation: loading 0.8s infinite;
}
.obj:nth-child(2) {
	animation-delay: 0.1s;
}
.obj:nth-child(3) {
	animation-delay: 0.2s;
}
.obj:nth-child(4) {
	animation-delay: 0.3s;
}
.obj:nth-child(5) {
	animation-delay: 0.4s;
}
.obj:nth-child(6) {
	animation-delay: 0.5s;
}
.obj:nth-child(7) {
	animation-delay: 0.6s;
}
.obj:nth-child(8) {
	animation-delay: 0.7s;
}
@keyframes loading {
	0%{
		height: 0;
	}
	50%{
		height: 100%;
	}
	100%{
		height: 0%;
	}
}
/***** End loader *****/



/***** Report's tabs *****/
.main-tabs .active a {
	color: #066169 !important;
}
.sub-tabs .active a {
	color: #066169 !important;
}
/***** End report's tabs *****/



/***** General *****/
/* Course description */
.text-justify {
	margin: 0 10px 10px 10px;
}
/* Glyphicons */
#glyph-table {
	height: 45vh;
	width: 100%;
	text-align: center;
	border: 1px solid #333;
}
#glyph-table td {
	width: 50%;
}
#glyph-table td span {
	font-size: 3.6rem;
}
#glyph-table td p {
	font-size: 1.2rem;
	font-weight: bold;
}
.glyph-info {
	font-size: 1rem !important;
	color: #066169;
}
/* Table hover */
.table-hover tbody tr:hover th,
.table-hover tbody tr:hover td {
	background-color: #ffcc33;
}
/***** End general *****/



/***** Dashboard *****/
.dash-filter {
	text-align: right;
}
.dash-filter p {
	display: inline;
}
.dashboard-chart {
	margin-bottom: 20px;
}
.dashboard-chart-title {
	text-align: center;
	font-weight: bold;
}
/***** End dashboard *****/



/***** Maps *****/
/* Show offering-map by default */
.learner-map {
	display: none;
}
#offering-map,
#learner-map {
	float: left;
	height: 80vh;
	width: 100%;
}
/* Leave space for legend if screen large enough to display alongside map */
@media (min-width: 992px) {
	#offering-map,
	#learner-map {
		width: 92%;
	}
}
.map-filter {
	text-align: right;
}
.map-filter p {
	display: inline;
}
#legend {
	float: left;
	height: 80vh;
	width: 8%;
	vertical-align: top;
}
#legend-title h4 {
	height: 5%;
	text-align: center;
	text-decoration: underline;
	margin: 0;
}
#legend-contents {
	height: 95%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	text-align: center;
}
.legend-marker {
	display: block;
	margin: 0 auto;
}
/***** End geodata *****/



/***** Ratings *****/
.ratings-chart {
	margin-bottom: 20px;
}
.ratings-chart-title {
	text-align: center;
	font-weight: bold;
}
/***** End ratings*****/



/***** Comments *****/
/* Date of comment */
.comment-date {
	float: right;
}
/* Filter */
.bob-comment {
	margin-bottom: 20px;
}
.star-filter,
.year-filter {
	text-align: right;
	margin: 10px 0;
}
.star-filter p,
.year-filter p {
	display: inline;
}
/* Avatar */
.thumbnail.pull-left {
	padding: 0 !important;
	margin-right: 10px !important;
}
/* Avatar hover */
.thumbnail:hover {
	border-color: #066169 !important;
}
#instructor_comments p {
	margin: 20px 0;
}
/***** End comments *****/
