/***** Global *****/
html {
	position: relative;
	min-height: 100%;
	/* Explicitly declare so can be referenced by rem units */
	font-size: 16px;
}
body {
	font-family: Helvetica, sans-serif;
	color: #333;
	font-size: 1rem;
	/* Same as height of footer */
	margin-bottom: 3.75rem;
}
a {
	color: #066169;
}
h1 {
	color: #066169;
	margin: 1.25rem 0;
}
.jumbotron h1 {
	text-align: left;
	font-size: 3.3rem;
	color: #066169;
}
@media (max-width: 767px) {
	.jumbotron h1 {
		text-align: center;
	}
}
li {
	min-height: 1.5rem;
}
h4, p {
	line-height: 1.5rem;
}
table {
	margin: 1.25rem 0;
}
.table-tooltip {
	width: 1.25rem;
	margin-left: 1.25rem;
	/* Remove from flow so won't affect centered text */
	position: absolute;
}
.inline-tooltip {
	width: 1.25rem;
	margin-left: 0.3rem;
}
/* Hover over table rows */
.table-hover tbody tr:hover {
	background-color: #ffcc33;
}
/* Bootstrap tooltips */
.tooltip-inner {
	color: #fff;
	background-color: #232323;
}
/* Custom colour when user highlights text */
::selection {
	background-color: #ffcc33;
}
/* Button to download each tab's raw data */
.download-raw {
	float: right;
	margin-bottom: 0.2rem;
}
.download-raw span {
	margin-left: 0.5rem;
}
/***** End global *****/



/***** Footer *****/
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Same as body's margin-bottom */
	height: 3.75rem;
}
footer .container {
	border-top: 0.25rem solid #066169;
	padding-top: 0.5rem;
}
footer .img-responsive {
	/* Needed to keep Canada FIP in pinned to bottom-right corner */
	display: inline;
}
/***** End footer *****/



/***** Navbars *****/
/* Both */
.navbar-default {
	border: none;
	border-radius: 0;
	margin: 0;
}
/* First navbar */
#first-nav {
	background-color: #000;
}
#first-nav a {
	color: #fff;
}
#first-nav img {
	height: 1.25rem;
}
/* Second navbar */
#second-nav {
	background-color: #232323;
	padding: 2rem 0.6rem 0.6rem 0.6rem;
}
#second-nav a {
	color: #fff;
	font-size: 1.5rem;
}
/* Banner */
#banner {
	display: grid;
	align-items: center;
	text-align: center;
	background-color: #232323;
	padding-bottom: 2rem;
	min-height: 16rem;
}
#banner h1 {
	font-size: 3rem;
	color: #fff;
	font-weight: 100;
}
#banner h4 {
	color: #fff;
	font-weight: 100;
}
#banner img {
	width: 10rem;
}
/* Center logo on mobile */
@media (max-width: 767px) {
	#banner .img-responsive {
		margin: 0 auto;
	}
}
/* Transition links on hover */
/* Don't show transition on mobile as navbar will be collapsed */
@media (min-width: 768px) {
	#second-nav a::after {
		content: '';
		display: block;
		background-color: #ffcc33;
		height: 4px;
		width: 0%;
		margin-top: 6px;
		transition: width 450ms ease-in-out;
	}
	#second-nav a:hover::after {
		width: 100%;
	}
}
/* Hide first-nav's English / Français button on mobile */
@media (max-width: 767px) {
	#first-nav #lang-button-desktop {
		display: none;
	}
}
/* Hide second-nav's English / Français button on desktop */
@media (min-width: 768px) {
	#second-nav #lang-button-mobile {
		display: none;
	}
}
/***** End navbars *****/



/***** About *****/
#about-page h3,
#about-page h4 {
	line-height: 2rem;
	margin: 1.5rem 0;
	color: #066169;
	text-align: left;
}
#about-page p {
	line-height: 2rem;
	margin: 1.5rem 0;
}
#about-page li {
	min-height: 2rem;
}
/* Sentence indicating last update, put date on new line on mobile */
@media (max-width: 767px) {
	#last-updated {
		display: block;
	}
}
/***** End about *****/



/***** Explore *****/
#explore-page {
	padding-bottom: 1.5rem;
}
#explore-page h3 {
	line-height: 2rem;
	margin: 1.5rem 0;
	color: #066169;
	text-align: left;
}
#explore-page p {
	line-height: 2rem;
	margin: 1.5rem 0;
}
#explore-page .btn {
	display: block;
	width: 100%;
	/* Only assign margin-bottom. Using margin-top causes jumping with
	Bootstrap collapse */
	margin-bottom: 0.75rem;
	padding-left: 1rem;
	line-height: 2.5rem;
	text-align: left;
	font-size: 1.1rem;
	border-radius: 0.5rem;
	/* Allow text to wrap to next line on narrow screens */
	white-space: normal;
}
#explore-page .btn.btn-primary {
	background-image: linear-gradient(to right, #066169, #39949c);
}
#explore-page table {
	margin-bottom: 0.75rem;
	margin-top: 0;
}
/* Make provider buttons + table slightly narrower and centered on
tablet and desktop */
@media (min-width: 768px) {
	#explore-page .btn.btn-success,
	#explore-page table {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 0.75rem;
		margin-top: 0;
	}
}
/* Explicitly declare table row height for vertically
centering ::before and glyphs */
#explore-page tr {
	height: 2.5rem;
}
/* Use ::before pseudo-element to make entire table row a hyperlink
as HTML specs prohibit wrapping <tr> in <a> */
.table-link::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	/* Same height as <tr> */
	height: 2.5rem;
}
#explore-page tr:hover {
	background-color: #ffcc33;
}
.glyphicon-minus,
.glyphicon-plus {
	float: right;
	vertical-align: middle;
	/* Same height as <tr> */
	line-height: 2.5rem;
}
.glyphicon-minus {
	display: none;
}
/* When lists expanded, hide plus glyph and show minus glyph */
button[aria-expanded='false'] > span.glyphicon-plus,
button[aria-expanded='true'] > span.glyphicon-minus {
	display: inline;
}
button[aria-expanded='false'] > span.glyphicon-minus,
button[aria-expanded='true'] > span.glyphicon-plus {
	display: none;
}
/***** End explore *****/



/***** Selection form *****/
/* Consistent vertical gap between text, search bar, and buttons */
#selection-form p {
	margin-top: 0
}
#selection-form dd {
	margin: 1rem 0;
}
/* Text */
#selection-form h3 {
	margin-top: 1.5rem;
	margin-bottom: 0;
	line-height: 2rem;
	color: #066169;
	text-align: left;
}
/* Buttons */
.btn.btn-primary {
	background-color: #066169;
	color: #fff;
	padding: 0.5rem 1rem;
	min-width: 8rem;
}
/* Button hover */
.btn.btn-primary:hover {
	background-color: #0aa4b1;
	color: #fff;
}
#go-button {
	margin-right: 2rem;
}
/* Center text, search bar, and buttons on mobile */
@media (max-width: 767px) {
	#selection-form h3,
	#selection-form form {
		text-align: center;
	}
	/* Continue to left-align dropdown for readability */
	.chosen-results {
		text-align: left;
	}
	#button-para {
		text-align: center;
	}
	#go-button {
		margin-right: 0.8rem;
	}
}
/***** End selection form *****/



/***** Loader *****/
/* Area in which to center loader */
#selection-and-loader {
	position: relative;
	min-height: 11rem;
}
/* Loader requires an outer div to properly hide when not in use */
#outer-loader {
	display: none;
}
/* position: absolute to center in next element up DOM 
with position: relative, in this case #selection-and-loader */
#loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 2.8rem;
	display: flex;
	align-items: center;
}
.obj {
	width: 0.4rem;
	height: 2.8rem;
	background: #066169;
	margin: 0 0.25rem;
	/* Rounded corners */
	border-radius: 0.6rem;
	animation: loading 0.8s infinite;
}
.obj:nth-child(2) {
	animation-delay: 0.1s;
}
.obj:nth-child(3) {
	animation-delay: 0.2s;
}
.obj:nth-child(4) {
	animation-delay: 0.3s;
}
.obj:nth-child(5) {
	animation-delay: 0.4s;
}
.obj:nth-child(6) {
	animation-delay: 0.5s;
}
.obj:nth-child(7) {
	animation-delay: 0.6s;
}
.obj:nth-child(8) {
	animation-delay: 0.7s;
}
@keyframes loading {
	0%{
		height: 0;
	}
	50%{
		height: 100%;
	}
	100%{
		height: 0%;
	}
}
/***** End loader *****/



/***** Report's tabs *****/
.main-tabs .active a {
	color: #066169 !important;
	font-weight: bold;
}
.sub-tabs .active a {
	color: #066169 !important;
	font-weight: bold;
}
/***** End report's tabs *****/



/***** General *****/
/* Glyphicons */
#glyph-table {
	height: 40vh;
	width: 100%;
	text-align: center;
	border: 1px solid #ddd;
	/* Set font-size for ems to reference */
	font-size: 1rem;
}
#glyph-table td {
	width: 50%;
}
/* Glyphs, labels, and text */
/* Use ems so can scale all by changing parent's font-size */
#glyph-table td span {
	font-size: 3.6em;
}
#glyph-table td > p {
	font-size: 1.2em;
	font-weight: bold;
}
#glyph-table .glyph-info {
	font-size: 1em;
	color: #066169;
}
@media (max-width: 500px) {
	#glyph-table {
		height: 50vh;
		font-size: 0.85rem;
	}
}
/***** End general *****/



/***** Dashboard *****/
.dash-filter {
	text-align: right;
}
.dash-filter p {
	display: inline;
}
.dashboard-chart {
	margin-bottom: 1.25rem;
}
.dashboard-chart-title {
	text-align: center;
	font-weight: bold;
}
/***** End dashboard *****/



/***** Maps *****/
/* Show offering-map by default */
.learner-map {
	display: none;
}
#offering-map,
#learner-map {
	float: left;
	height: 80vh;
	width: 100%;
}
.map-filter {
	text-align: right;
}
.map-filter p {
	display: inline;
}
/* Leave space for legend if screen large enough to display alongside map */
#legend {
	display: none;
}
@media (min-width: 992px) {
	#offering-map,
	#learner-map {
		width: 92%;
	}
	#legend {
		display: block;
	}
}
#legend {
	float: left;
	height: 80vh;
	width: 8%;
	vertical-align: top;
}
#legend-title h4 {
	height: 5%;
	text-align: center;
	text-decoration: underline;
	margin: 0;
}
#legend-contents {
	height: 95%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	text-align: center;
}
.legend-marker {
	display: block;
	margin: 0 auto;
}
/***** End geodata *****/



/***** Ratings *****/
.ratings-chart {
	margin-bottom: 1.25rem;
}
.ratings-chart-title {
	text-align: center;
	font-weight: bold;
}
/***** End ratings*****/



/***** Comments *****/
/* Filters */
.star-filter,
.year-filter {
	text-align: right;
}
.star-filter {
	margin: 1.25rem 0 0.5rem 0;
}
.year-filter {
	margin: 0.5rem 0 1.25rem 0;
}
.star-filter p,
.year-filter p {
	display: inline;
}
/* Comment text */
.bob-comment {
	margin-bottom: 1.5rem;
}
/* Avatar */
.thumbnail.pull-left {
	width: 7rem;
	padding: 0;
	margin-right: 0.5rem;
	border: 1px solid transparent;
}
/* Avatar hover */
.thumbnail:hover {
	border-color: #066169 !important;
}
/* Error message for instructor comments */
#instructor_comments p {
	margin: 1.25rem 0;
}
/* Stars */
.glyphicon-star,
.glyphicon-star-empty {
	color: #ffcc33;
	font-size: 1rem;
}
.glyphicon-star-empty {
	opacity: 0.3;
}
/* Date of comment */
.comment-date {
	float: right;
}
/* Barchart showing percentages for 5 stars, 4 stars, etc. */
.stars-bar-chart {
	width: 100%;
	color: #066169;
}
.stars-bar-title {
	margin: 1.25rem 0 1.25rem 1.25rem;
}
.stars-bar-chart tr {
	line-height: 2rem;
}
.bar-fill {
	display: inline-block;
	background-color: #ffcc33;
	width: 100%;
	/* Slightly smaller than row height */
	height: 1.5rem;
	padding: 0.25rem 0;
	margin-right: 0.5rem;
	vertical-align: middle;
}
/* On very small screens, shrink size of label to ensure
bar and label on same line */
@media (max-width: 400px) {
	.stars-bar-chart a {
		font-size: 0.7rem;
	}
}
/***** End comments *****/



/***** Prep & admin *****/
#material-tab table {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
#material-tab tr {
	min-height: 4rem;
}
#material-tab td {
	vertical-align: middle;
}
#material-tab span {
	font-size: 1.5rem;
	color: #066169;
}
/***** End prep & admin *****/
