/***** Global *****/
html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	/* Same as height of footer */
	margin-bottom: 60px;
}
h1 {
	color: green;
	margin: 20px 0;
}
.jumbotron h1 {
	text-align: left;
	font-size: 3.3em;
	color: green;
}
a {
	color: #335075;
}
table {
	margin: 20px 0;
}
.table-tooltip {
	width: 20px;
	position: absolute;
	margin-left: 20px;
}
.inline-tooltip {
	width: 20px;
	margin-left: 5px;
}
/***** End global *****/



/***** Header *****/
.goc-fip {
	max-height: 40px;
	margin: 10px 10px 5px 10px;
}
/***** End header *****/



/***** Footer *****/
.goc-footer {
	border-top: 4px solid #335075;
	line-height: 30px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Same as height of body's margin-bottom */
	height: 60px;
}
.footer .goc-fip {
	display: inline;
}
/***** End footer *****/



/***** Navbar *****/
/* Logo and main sections */
.navbar-default {
	background-color: #335075;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav li a {
	color: #fff;
}
/* Different classes to avoid doubly thick borders in center elements */
.li-border-left {
	border-left: 1px solid #fff;
}
.li-border-right {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
/* Logo and main sections hover */
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li a:hover {
    background-color: #243850;
    color: #fff;
}
/* Dropdown */
.navbar-default .dropdown-menu li a {
	background-color: #fff;
	color: #333
}
/* Dropdown hover */
.dropdown-toggle:active,
.open .dropdown-toggle {
	background: #243850 !important;
	color: #fff !important;
}
/***** End navbar *****/



/***** Home and about *****/
#home-page,
#about-page {
	text-align: justify;
}
#home-page p,
#about-page p {
	margin: 1.5em 0;
}
#home-page h3,
#about-page h3 {
	margin: 1.5em 0;
	color: green;
	text-align: left;
}
/***** End home and about *****/



/***** Selection form *****/
/* Button */
.btn.btn-primary {
	background-color: #335075;
	color: #fff;
}
/* Button hover */
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
	background-color: #243850;
	color: #fff;
}
/***** End selection form *****/



/***** Loader *****/
#loader {
	display: none;
}
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 40px;
	display: flex;
	align-items: center;
}
.obj {
	width: 6px;
	height: 40px;
	background: #335075;
	margin: 0 3px;
	/* Rounded corners */
	border-radius: 10px;
	animation: loading 0.8s infinite;
}
.obj:nth-child(2) {
	animation-delay: 0.1s;
}
.obj:nth-child(3) {
	animation-delay: 0.2s;
}
.obj:nth-child(4) {
	animation-delay: 0.3s;
}
.obj:nth-child(5) {
	animation-delay: 0.4s;
}
.obj:nth-child(6) {
	animation-delay: 0.5s;
}
.obj:nth-child(7) {
	animation-delay: 0.6s;
}
.obj:nth-child(8) {
	animation-delay: 0.7s;
}
@keyframes loading {
	0%{
		height: 0;
	}
	50%{
		height: 100%;
	}
	100%{
		height: 0%;
	}
}
/***** End loader *****/



/***** Report's tabs *****/
.main-tabs .active a {
	color: #335075 !important;
}
.sub-tabs .active a {
	color: #335075 !important;
}
/***** End report's tabs *****/



/***** General *****/
/* Course description */
.text-justify {
	margin: 0 10px 10px 10px;
}
/* Glyphicons */
#glyph-table {
	height: 45vh;
	width: 100%;
	text-align: center;
	border: 1px solid #333;
}
#glyph-table td {
	width: 50%;
}
#glyph-table td span {
	font-size: 3.6em;
}
#glyph-table td p {
	font-size: 1.2em;
	font-weight: bold;
}
.glyph-info {
	font-size: 1em !important;
	color: green;
}
/* Table hover */
.table-hover tbody tr:hover th,
.table-hover tbody tr:hover td {
	background-color: #5fba7d;
}
/***** End general *****/



/***** Dashboard *****/
.dash-filter {
	text-align: right;
}
.dash-filter p {
	display: inline;
}
.dashboard-chart {
	margin-bottom: 20px;
}
.dashboard-chart-title {
	text-align: center;
	font-weight: bold;
}
/***** End dashboard *****/



/***** Maps *****/
/* Show offering-map by default */
.learner-map {
	display: none;
}
#offering-map, #learner-map {
	float: left;
	height: 80vh;
	width: 92%;
}
.map-filter {
	text-align: right;
}
.map-filter p {
	display: inline;
}
#legend {
	float: left;
	height: 80vh;
	width: 8%;
	vertical-align: top;
}
#legend-title h4 {
	height: 5%;
	text-align: center;
	text-decoration: underline;
	margin: 0;
}
#legend-contents {
	height: 95%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	text-align: center;
}
.legend-marker {
	display: block;
	margin: 0 auto;
}
/***** End geodata *****/



/***** Ratings *****/
.ratings-chart {
	margin-bottom: 20px;
}
.ratings-chart-title {
	text-align: center;
	font-weight: bold;
}
/***** End ratings*****/



/***** Comments *****/
/* Filter */
.bob-comment, .star-filter {
	margin-bottom: 20px;
}
.star-filter {
	text-align: right;
	margin-top: 20px;
}
.star-filter p {
	display: inline;
}
/* Avatar */
.thumbnail.pull-left {
	padding: 0 !important;
	margin-right: 10px !important;
}
/* Avatar hover */
.thumbnail:hover {
	border-color: #335075 !important;
}
#instructor_comments p {
	margin: 20px 0;
}
/***** End comments *****/
