{% extends 'layout.html' %}

{% block body %}
	<div class="container">
		<div class="jumbotron">
			<h1>Welcome to the CSPS Data Explorer</h1>
		</div>
		<p>
			Your favourite new team, the <strong>Innovation and Policy Services Branch</strong> 
			(IPSB), is transitioning the School's PDF dashboards to a new interactive format. 
			These online dashboards are available through your browser and are, pursant to 
			the School's Open First data policy, free to share and distribute with both government 
			colleagues and the general public.
		</p>
		<p>
			<h5>Dashboards currently available</h5>
			<ul>
				<li>Instructor-Led Courses</li>
			</ul>
			<h5>Soon to be implemented</h5>
			<ul>
				<li>Online Courses</li>
				<li>Departmental</li>
			</ul>
			<br />
			If you encounter any bugs, please contact <a href="mailto:sam.louden@canada.ca">Sam Louden</a>.
		</p>
	</div>
{% endblock body %}
