{% extends 'layout.html' %}

{% block head %}
	<!-- Highcharts -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock head %}

{% block body %}
	<div class="container">
		<h1>{{ course_title }}</h1>
		<div class="row">
			
			<!-- General Course Info -->
			<div class="col-xs-12">
				<table class="table table-hover">
					<tr>
						<td class="text-center" colspan="3"><h4><strong>Course Information and Overall Numbers</strong></h4></td>
					</tr>
					<tr>
						<td><strong>Indicator</strong></td>
						<td class="text-center"><strong>2017-18</strong></td>
						<td class="text-center"><strong>2018-19</strong></td>
					</tr>
					{% for tup1, tup2 in general_info_2017|zip(general_info_2018) %}
						<tr>
								<td>{{ tup1[0] }}</td>
								<td class="text-center">{{ tup1[1] }}</td>
								<td class="text-center">{{ tup2[1] }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			
			<!-- Offerings per Region -->
			<div id="offerings-per-region" class="col-xs-12"></div>
		</div>
		<br/>
		<br/>
		<div class="row">
			
			<!-- Offerings per Language -->
			<div id="offerings-per-lang" class="col-xs-12 col-md-6"></div>
			
			<!-- % of Offerings Cancelled-->
			<div id="offerings-cancelled" class="col-xs-12 col-md-6"></div>
		</div>
		<br/>
		<br/>
		<div class="row">
			
			<!-- Top 5 Departments -->
			<div class="col-xs-12 col-md-6">
				<table class="table table-hover">
					<tr>
						<td class="text-center" colspan="2"><h4><strong>Top 5 Departments</strong></h4></td>
					</tr>
					<tr>
						<td><strong>Name</strong></td>
						<td class="text-right"><strong>Registrations</strong></td>
					</tr>
					{% for tuple in top_5_depts %}
						<tr>
								<td>{{ tuple[0] }}</td>
								<td class="text-right">{{ tuple[1] }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			
			<!-- Top 5 Classifications -->
			<div class="col-xs-12 col-md-6">
				<table class="table table-hover">
					<tr>
						<td class="text-center" colspan="2"><h4><strong>Top 5 Classifications</strong></h4></td>
					</tr>
					<tr>
						<td><strong>Name</strong></td>
						<td class="text-right"><strong>Registrations</strong></td>
					</tr>
					{% for tuple in top_5_classifs %}
						<tr>
								<td>{{ tuple[0] }}</td>
								<td class="text-right">{{ tuple[1] }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<br/>
		<br/>
		<div class="row">
			
			<!-- Average Class Size -->
			<div id="avg-class-size" class="col-xs-12 col-md-6"></div>
			
			<!-- Average No-Shows per Offering -->
			<div id="avg-no-shows" class="col-xs-12 col-md-6"></div>
			
		</div>
	</div>
	
	<script>
		// Set font for Highcharts
		Highcharts.setOptions({chart: {style: {fontFamily: 'Helvetica'}}});
		
		function offeringsPerRegion (id) {
			$('#' + String(id)).highcharts({
				chart: {type: 'column'},
				title: {text: 'Open & Delivered Offerings per Region', style: {fontWeight: 'bold'}},
				xAxis: {categories: ['Offerings']},
				yAxis: {title: {text: ''}, allowDecimals: false, min: 0},
				legend: {layout: 'horizontal', align: 'center', verticalAlign: 'bottom'},
				credits: {text: ''},
				series: {{ offerings_per_region | safe }}
			});
		};
		function offeringsPerLang (id) {
			$('#' + String(id)).highcharts({
				chart: {type: 'column'},
				title: {text: 'Open & Delivered Offerings per Language', style: {fontWeight: 'bold'}},
				xAxis: {categories: ['Offerings']},
				yAxis: {title: {text: ''}, allowDecimals: false,	min: 0},
				legend: {layout: 'horizontal', align: 'center', verticalAlign: 'bottom'},
				credits: {text: ''},
				series: {{ offerings_per_lang | safe }}
			});
		};
		function offeringsCancelled (id) {
			$('#' + String(id)).highcharts({
				chart: {type: 'column'},
				title: {text: '% of Offerings Cancelled', style: {fontWeight: 'bold'}},
				xAxis: {categories: ['2017-18', '2018-19']},
				yAxis: {title: {text: ''}, allowDecimals: true,	min: 0,
							  labels: {formatter: function() {return String(this.value * 100) + "%";}}},
				legend: {layout: 'horizontal', align: 'center', verticalAlign: 'bottom'},
				credits: {text: ''},
				series: [{name: 'Average All', data: [{{ offerings_cancelled_overall_2017 }}, {{ offerings_cancelled_overall_2018 }}]},
					 			 {name: '{{ course_title }}', data: [{{ offerings_cancelled_2017 }}, {{ offerings_cancelled_2018 }}]}]
			});
		};
		function averageClassSize (id) {
			$('#' + String(id)).highcharts({
				chart: {type: 'column'},
				title: {text: 'Average Class Size', style: {fontWeight: 'bold'}},
				xAxis: {categories: ['2017-18', '2018-19']},
				yAxis: {title: {text: ''}, allowDecimals: false,	min: 0},
				legend: {layout: 'horizontal', align: 'center', verticalAlign: 'bottom'},
				credits: {text: ''},
				series: [{name: 'Average All', data: [{{ avg_class_size_overall_2017 }}, {{ avg_class_size_overall_2018 }}]},
					 			 {name: '{{ course_title }}', data: [{{ avg_class_size_2017 }}, {{ avg_class_size_2018 }}]}]
			});
		};
		function averageNoShows (id) {
			$('#' + String(id)).highcharts({
				chart: {type: 'column'},
				title: {text: 'Average No-Shows per Offering', style: {fontWeight: 'bold'}},
				xAxis: {categories: ['2017-18', '2018-19']},
				yAxis: {title: {text: ''}, allowDecimals: false,	min: 0},
				legend: {layout: 'horizontal', align: 'center', verticalAlign: 'bottom'},
				credits: {text: 'Prepared by Curriculum Management and IPSB'},
				series: [{name: 'Average All', data: [{{ no_shows_overall_2017 }}, {{ no_shows_overall_2018 }}]},
					 			 {name: '{{ course_title }}', data: [{{ no_shows_2017 }}, {{ no_shows_2018 }}]}]
			});
		};
		
		offeringsPerRegion('offerings-per-region');
		offeringsPerLang('offerings-per-lang');
		offeringsCancelled('offerings-cancelled');
		averageClassSize('avg-class-size');
		averageNoShows('avg-no-shows');
		
	</script>
{% endblock body %}
