<!-- TODO
- Add meta for search engines i.e. description, author, etc.
- Add shortcut to top of page for link in footer
-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
		<title>{{ _('CSPS Data Explorer') }}</title>
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- Custom CSS -->
		<link href= "{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
		
		{% block head %}
			<!-- extended by other templates needing scripts -->
		{% endblock head %}
		
	</head>
	<body>
	{% include 'includes/_messages.html' %}
		<header>
			<div class="container">
				<div class="row">
					<div class="col-xs-8 col-sm-9 col-md-6 pull-left">
						<a href="https://www.csps-efpc.gc.ca">
							<img class="goc-fip img-responsive" src="{{ url_for('static', filename='FIPs/csps.png') }}" alt="CSPS Logo" />
						</a>
					</div>
				</div>
			</div>
			
			{% include 'includes/_navbar.html' %}
		</header>
		
		{% block body %}
			<!-- extended by other templates -->
		{% endblock %}
		
		<footer class="footer">
			<div class="container goc-footer">
				<div class="row">
					<div class="col-xs-6 visible-sm visible-xs pull-left">
						<a href="{{ url_for('index') }}">Top of page</a>
					</div>
					<div class="col-xs-6 col-md-2 pull-right">
						<object class="goc-fip img-responsive" type="image/svg+xml" data="{{ url_for('static', filename='canada.svg') }}"></object>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
