<!-- TODO
- Add meta for search engines
-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
		<title>CSPS Data Explorer</title>
		{% block head %}
			<!-- extended by other templates needing scripts -->
		{% endblock head %}
    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
		<!-- Custom CSS -->
		<link href= "{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
	</head>
	<body>
	{% include 'includes/_messages.html' %}
		<header>
			<div class="container">
				<div class="row">
					<div class="col-xs-8 col-sm-9 col-md-6">
						<a href="{{ url_for('index') }}">
							<object id="goc-fip" type="image/svg+xml" data="{{ url_for('static', filename='sig-blk-en.svg') }}"></object>
						</a>
					</div>
				</div>
			</div>
			
			{% include 'includes/_navbar.html' %}
		</header>
		
		{% block body %}
			<!-- extended by other templates -->
		{% endblock %}
		
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<ul>
							<li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
							<li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
							<li><a href="https://www.canada.ca/en/government/about.html">About Canada.ca</a></li>
							<li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
							<li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
						</ul>
					</div>
					<div class="col-xs-6 visible-sm visible-xs">
						<a href="{{ url_for('index') }}">Top of page <span class="glyphicon glyphicon-chevron-up"></span></a>
					</div>
					<div class="col-xs-6 col-md-2 text-right">
						<object type="image/svg+xml" data="http://canada.ca/etc/designs/canada/wet-boew/assets/wmms-blk.svg"></object>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
