<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="{{ url_for('static', filename='FIPs/favicon.ico') }}" type="image/x-icon" />
<title>{{ _('CSPS Course Catalogue') }}</title>
<meta name="description" content="CSPS Course Catalogue - Catalogue de cours de l'EFPC" />
<meta name="keywords" content="Canada School of Public Service, CSPS, data, dashboard, dashboards, department, departmental, course, python, flask, highcharts,
							   École de la fonction publique du Canada, EFPC, données, tableau de bord, tableaux de bord, ministère, ministériel, cours" />
<!-- Meta tags for Open Graph -->
<meta property="og:title" content="CSPS Course Catalogue - Catalogue de cours de l'EFPC" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ url_for(request.endpoint) }}" />
<meta property="og:image" content="{{ url_for('static', filename='FIPs/da_logo_en.png') }}" />
