<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ url_for('main.home') }}">{{ _('CSPS Course Catalogue') }}</a>
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-items">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="menu-items">
			<ul class="nav navbar-nav">
				<li class="li-border-left"><a href="{{ url_for('main.home') }}">{{ _('Home') }}</a></li>
				<li class="li-border-left"><a href="{{ url_for('main.about') }}">{{ _('About') }}</a></li>
				<li class="dropdown li-border-right">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">{{ _('Catalogue') }}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{ url_for('course.course_selection') }}">{{ _('Search by Course') }}</a></li>
						<li><a href="{{ url_for('course.departmental') }}">{{ _('Search by Department') }}</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% set lang = request.cookies.get('lang', 'en') %}
				{% if lang == 'en' %}
					<li class="li-border-right"><a href="{{ url_for('main.setlang', lang='fr') }}">{{ _('Français') }}</a></li>
				{% else %}
					<li class="li-border-right"><a href="{{ url_for('main.setlang', lang='en') }}">{{ _('Français') }}</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
